In [1]:
import numpy as np 
import pandas as pd 
import yfinance as yf
from fredapi import Fred
import pandas as pd

In [2]:
start_date="2000-01-01"
end_date="2020-12-31"

df = yf.download("SPY", start=start_date, end=end_date)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,146.843750,147.500000,146.250000,146.875000,97.509438,3172700
2000-01-03,148.250000,148.250000,143.875000,145.437500,96.555084,8164300
2000-01-04,143.531250,144.062500,139.640625,139.750000,92.779190,8089800
2000-01-05,139.937500,141.531250,137.250000,140.000000,92.945152,12177900
2000-01-06,139.625000,141.500000,137.750000,137.750000,91.451401,6227200
...,...,...,...,...,...,...
2020-12-23,368.279999,369.619995,367.220001,367.570007,361.611420,46201400
2020-12-24,368.079987,369.029999,367.450012,369.000000,363.018280,26457900
2020-12-28,371.739990,372.589996,371.070007,372.170013,366.136871,39000400
2020-12-29,373.809998,374.000000,370.829987,371.459991,365.438354,53680500
2020-12-30,372.339996,373.100006,371.570007,371.989990,365.959778,49455300

In [3]:
#Calculate features

#1 Date_SPY

#2 Close_SPY

#3 SPYt
df['SPYt']=df['Adj Close'].pct_change()
# df_SPY['SPYt']=df_SPY['Adj Close'].resample('M').ffill().pct_change()

#4 SPYt1
df['Adj Close_l1'] = df['Adj Close'].shift(1)
df['SPYt1']=df['Adj Close_l1'].pct_change()

#5 SPYt2
df['Adj Close_l2'] = df['Adj Close'].shift(2)
df['SPYt2']=df['Adj Close_l2'].pct_change()

#6 SPYt3
df['Adj Close_l3'] = df['Adj Close'].shift(3)
df['SPYt3']=df['Adj Close_l3'].pct_change()

#7 RDP5
df['Adj Close_l5'] = df['Adj Close'].shift(5)
df['RDP5']=(df['Adj Close']-df['Adj Close_l5'])/df['Adj Close_l5']*100

#8 RDP10
df['Adj Close_l10'] = df['Adj Close'].shift(10)
df['RDP10']=(df['Adj Close']-df['Adj Close_l10'])/df['Adj Close_l10']*100

#9 RDP15
df['Adj Close_l15'] = df['Adj Close'].shift(15)
df['RDP15']=(df['Adj Close']-df['Adj Close_l15'])/df['Adj Close_l15']*100

#10 RDP20
df['Adj Close_l20'] = df['Adj Close'].shift(20)
df['RDP20']=(df['Adj Close']-df['Adj Close_l20'])/df['Adj Close_l20']*100

#11 EMA10
def calculate_ema(prices, days, smoothing=2):
    ema = []
    for num_day in range(days-1):
        ema.append('N/A')        
    ema.append(sum(prices[:days]) / days)
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema
df['EMA10']=calculate_ema(df['Adj Close'], 10)

#12 EMA20
df['EMA20']=calculate_ema(df['Adj Close'], 20)

#13 EMA50
df['EMA50']=calculate_ema(df['Adj Close'], 50)

#14 EMA200
df['EMA200']=calculate_ema(df['Adj Close'], 200)

#15 HSI
df_HSI = yf.download("HSI", start=start_date, end=end_date)
df['HSI']=df_HSI['Adj Close'].pct_change()

#16 SSE*
df_SSE = yf.download("000001.SS", start=start_date, end=end_date)
df['SSE']=df_SSE['Adj Close'].pct_change()

#17 FCHI*
df_FCHI = yf.download("^FCHI", start=start_date, end=end_date)
df['FCHI']=df_FCHI['Adj Close'].pct_change()

#18 FTSE*
df_FTSE = yf.download("^FTSE", start=start_date, end=end_date)
df['FTSE']=df_FTSE['Adj Close'].pct_change()

#19 GDAXI*
df_GDAXI = yf.download("^GDAXI", start=start_date, end=end_date)
df['GDAXI']=df_GDAXI['Adj Close'].pct_change()

#20 DJI
df_DJI = yf.download("DJI", start=start_date, end=end_date)
df['DJI']=df_DJI['Adj Close'].pct_change()

#21 IXIC*
df_IXIC = yf.download("^IXIC", start=start_date, end=end_date)
df['IXIC']=df_IXIC['Adj Close'].pct_change()

#22 V
df['V']=df['Volume'].pct_change()

#23 AAPL
df_AAPL = yf.download("AAPL", start=start_date, end=end_date)
df['AAPL']=df_AAPL['Adj Close'].pct_change()

#24 MSFT
df_MSFT = yf.download("MSFT", start=start_date, end=end_date)
df['MSFT']=df_MSFT['Adj Close'].pct_change()

#25 XOM
df_XOM = yf.download("XOM", start=start_date, end=end_date)
df['XOM']=df_XOM['Adj Close'].pct_change()

#26 GE
df_GE = yf.download("GE", start=start_date, end=end_date)
df['GE']=df_GE['Adj Close'].pct_change()

#27 JNJ
df_JNJ = yf.download("JNJ", start=start_date, end=end_date)
df['JNJ']=df_JNJ['Adj Close'].pct_change()

#28 WFC
df_WFC = yf.download("WFC", start=start_date, end=end_date)
df['WFC']=df_WFC['Adj Close'].pct_change()

#29 AMZN
df_AMZN = yf.download("AMZN", start=start_date, end=end_date)
df['AMZN']=df_AMZN['Adj Close'].pct_change()

#30 JPM
df_JPM = yf.download("JPM", start=start_date, end=end_date)
df['JPM']=df_JPM['Adj Close'].pct_change()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [87]:
df['RDP15'].fillna(0)

Date
1999-12-31    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06    0.000000
                ...
2020-12-23    0.639819
2020-12-24    1.058922
2020-12-28    1.056226
2020-12-29    1.071129
2020-12-30    0.920021
Name: RDP15, Length: 5284, dtype: float64

In [91]:
df['EMA10'].fillna('NA', 0)

/var/folders/pf/6m70llld5kz3jp5trc8kh13w0000gn/T/ipykernel_1953/3170093976.py:1: FutureWarning: In a future version of pandas all arguments of Series.fillna except for the argument 'value' will be keyword-only
  df['EMA10'].fillna('NA', 0)

ValueError: Cannot specify both 'value' and 'method'.

In [ ]:
df['EMA10'][is.na(myDataframe)] = 0

In [88]:
 df['EMA20']

Date
1999-12-31           N/A
2000-01-03           N/A
2000-01-04           N/A
2000-01-05           N/A
2000-01-06           N/A
                 ...
2020-12-23     358.90158
2020-12-24    359.293647
2020-12-28    359.945383
2020-12-29    360.468523
2020-12-30      360.9915
Name: EMA20, Length: 5284, dtype: object

In [4]:
# Fred API key: ab766afb0df13dba8492403a7865f852
fred = Fred(api_key='ab766afb0df13dba8492403a7865f852')
T1 = fred.get_series('DTB4WK', observation_start=start_date, observation_end=end_date)
T1

2001-07-31    3.61
2001-08-01    3.60
2001-08-02    3.60
2001-08-03    3.58
2001-08-06    3.58
              ...
2020-12-25     NaN
2020-12-28    0.09
2020-12-29    0.08
2020-12-30    0.06
2020-12-31    0.08
Length: 5068, dtype: float64

In [5]:
T3 = fred.get_series('DTB3', observation_start=start_date, observation_end=end_date)
T3

2000-01-03    5.27
2000-01-04    5.27
2000-01-05    5.28
2000-01-06    5.25
2000-01-07    5.22
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.10
2020-12-30    0.08
2020-12-31    0.09
Length: 5479, dtype: float64

In [6]:
T6 = fred.get_series('DTB6', observation_start=start_date, observation_end=end_date)
T6

2000-01-03    5.55
2000-01-04    5.50
2000-01-05    5.49
2000-01-06    5.44
2000-01-07    5.42
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.12
2020-12-30    0.09
2020-12-31    0.09
Length: 5479, dtype: float64

In [7]:
T60 = fred.get_series('DGS5', observation_start=start_date, observation_end=end_date)
T60

2000-01-03    6.50
2000-01-04    6.40
2000-01-05    6.51
2000-01-06    6.46
2000-01-07    6.42
              ...
2020-12-25     NaN
2020-12-28    0.38
2020-12-29    0.37
2020-12-30    0.37
2020-12-31    0.36
Length: 5479, dtype: float64

In [8]:
T120 = fred.get_series('DGS10', observation_start=start_date, observation_end=end_date)
T120

2000-01-03    6.58
2000-01-04    6.49
2000-01-05    6.62
2000-01-06    6.57
2000-01-07    6.52
              ...
2020-12-25     NaN
2020-12-28    0.94
2020-12-29    0.94
2020-12-30    0.93
2020-12-31    0.93
Length: 5479, dtype: float64

In [9]:
CD1 = fred.get_series('DCD1M', observation_start=start_date, observation_end=end_date)
CD1

2000-01-03    5.70
2000-01-04    5.72
2000-01-05    5.70
2000-01-06    5.70
2000-01-07    5.69
              ...
2013-06-24    0.16
2013-06-25    0.16
2013-06-26    0.16
2013-06-27    0.16
2013-06-28    0.17
Length: 3520, dtype: float64

In [56]:
CD1.index[0].year

2000

In [10]:
CD3 = fred.get_series('DCD90', observation_start=start_date, observation_end=end_date)
CD3

2000-01-03    5.89
2000-01-04    5.93
2000-01-05    5.94
2000-01-06    5.94
2000-01-07    5.96
              ...
2013-06-24    0.19
2013-06-25    0.20
2013-06-26    0.20
2013-06-27    0.20
2013-06-28    0.22
Length: 3520, dtype: float64

In [11]:
CD6 = fred.get_series('DCD6M', observation_start=start_date, observation_end=end_date)
CD6

2000-01-03    6.05
2000-01-04    6.14
2000-01-05    6.13
2000-01-06    6.15
2000-01-07    6.17
              ...
2013-06-24    0.26
2013-06-25    0.27
2013-06-26    0.27
2013-06-27    0.27
2013-06-28    0.27
Length: 3520, dtype: float64

In [58]:
data = pd.read_csv("https://www.federalreserve.gov/datadownload/Output.aspx?rel=H15&series=bf17364827e38702b42a58cf8eaa3f78&lastobs=&from=&to=&filetype=csv&label=include&layout=seriescolumn&type=package")
data = data.iloc[5:,:]
data

,Series Description,"Market yield on U.S. Treasury securities at 1-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 3-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 6-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 1-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 2-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 3-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 5-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 7-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 10-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 20-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 30-year constant maturity, quoted on investment basis"
5,1962-01-02,NaN,NaN,NaN,3.22,NaN,3.70,3.88,NaN,4.06,4.07,NaN
6,1962-01-03,NaN,NaN,NaN,3.24,NaN,3.70,3.87,NaN,4.03,4.07,NaN
7,1962-01-04,NaN,NaN,NaN,3.24,NaN,3.69,3.86,NaN,3.99,4.06,NaN
8,1962-01-05,NaN,NaN,NaN,3.26,NaN,3.71,3.89,NaN,4.02,4.07,NaN
9,1962-01-08,NaN,NaN,NaN,3.31,NaN,3.71,3.91,NaN,4.03,4.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15746,2022-05-04,0.49,0.89,1.44,2.07,2.66,2.85,2.93,2.97,2.93,3.21,3.01
15747,2022-05-05,0.49,0.85,1.37,2.08,2.71,2.91,3.01,3.07,3.05,3.35,3.15
15748,2022-05-06,0.48,0.85,1.41,2.08,2.72,2.94,3.06,3.13,3.12,3.43,3.23
15749,2022-05-09,0.51,0.92,1.43,1.99,2.61,2.81,2.95,3.04,3.05,3.38,3.19
15750,2022-05-10,0.57,0.89,1.44,2.01,2.62,2.81,2.91,2.99,2.99,3.31,3.12

In [67]:
data['Series Description'] = pd.to_datetime(data['Series Description'])

In [69]:
CTB3M = pd.Series(data['Market yield on U.S. Treasury securities at 3-month   constant maturity, quoted on investment basis'])
CTB3M.reset_index(drop=True, inplace=True)
CTB3M.index = data['Series Description'].values
CTB3M = CTB3M.dropna()
CTB3M = CTB3M[CTB3M.values != 'ND'].astype(float)
CTB3M = CTB3M[(CTB3M.index >= start_date) & (CTB3M.index <= end_date)]
CTB3M = CTB3M - CTB3M.shift()
CTB3M

2000-01-03     NaN
2000-01-04   -0.05
2000-01-05    0.01
2000-01-06   -0.03
2000-01-07   -0.03
              ...
2020-12-24    0.00
2020-12-28    0.02
2020-12-29   -0.01
2020-12-30   -0.02
2020-12-31    0.01
Name: Market yield on U.S. Treasury securities at 3-month   constant maturity, quoted on investment basis, Length: 5253, dtype: float64

In [14]:
CTB6M = pd.Series(data['Market yield on U.S. Treasury securities at 6-month   constant maturity, quoted on investment basis'])
CTB6M.reset_index(drop=True, inplace=True)
CTB6M.index = data['Series Description'].values
CTB6M = CTB6M.dropna()
CTB6M = CTB6M[CTB6M.values != 'ND'].astype(float)
CTB6M = CTB6M[(CTB6M.index >= start_date) & (CTB6M.index <= end_date)]
CTB6M = CTB6M - CTB6M.shift()
CTB6M

2000-01-03     NaN
2000-01-04   -0.06
2000-01-05   -0.01
2000-01-06   -0.05
2000-01-07   -0.03
              ...
2020-12-24    0.00
2020-12-28    0.02
2020-12-29    0.01
2020-12-30   -0.03
2020-12-31    0.00
Name: Market yield on U.S. Treasury securities at 6-month   constant maturity, quoted on investment basis, Length: 5253, dtype: float64

In [15]:
CTB1Y = pd.Series(data['Market yield on U.S. Treasury securities at 1-year   constant maturity, quoted on investment basis'])
CTB1Y.reset_index(drop=True, inplace=True)
CTB1Y.index = data['Series Description'].values
CTB1Y = CTB1Y.dropna()
CTB1Y = CTB1Y[CTB1Y.values != 'ND'].astype(float)
CTB1Y = CTB1Y[(CTB1Y.index >= start_date) & (CTB1Y.index <= end_date)]
CTB1Y = CTB1Y - CTB1Y.shift()
CTB1Y

2000-01-03     NaN
2000-01-04   -0.09
2000-01-05    0.05
2000-01-06   -0.02
2000-01-07   -0.03
              ...
2020-12-24    0.01
2020-12-28    0.01
2020-12-29    0.00
2020-12-30    0.01
2020-12-31   -0.02
Name: Market yield on U.S. Treasury securities at 1-year   constant maturity, quoted on investment basis, Length: 5253, dtype: float64

In [16]:
CTB5Y = pd.Series(data['Market yield on U.S. Treasury securities at 5-year   constant maturity, quoted on investment basis'])
CTB5Y.reset_index(drop=True, inplace=True)
CTB5Y.index = data['Series Description'].values
CTB5Y = CTB5Y.dropna()
CTB5Y = CTB5Y[CTB5Y.values != 'ND'].astype(float)
CTB5Y = CTB5Y[(CTB5Y.index >= start_date) & (CTB5Y.index <= end_date)]
CTB5Y = CTB5Y - CTB5Y.shift()
CTB5Y

2000-01-03     NaN
2000-01-04   -0.10
2000-01-05    0.11
2000-01-06   -0.05
2000-01-07   -0.04
              ...
2020-12-24   -0.01
2020-12-28    0.01
2020-12-29   -0.01
2020-12-30    0.00
2020-12-31   -0.01
Name: Market yield on U.S. Treasury securities at 5-year   constant maturity, quoted on investment basis, Length: 5253, dtype: float64

In [17]:
CTB10Y = pd.Series(data['Market yield on U.S. Treasury securities at 10-year   constant maturity, quoted on investment basis'])
CTB10Y.reset_index(drop=True, inplace=True)
CTB10Y.index = data['Series Description'].values
CTB10Y = CTB10Y.dropna()
CTB10Y = CTB10Y[CTB10Y.values != 'ND'].astype(float)
CTB10Y = CTB10Y[(CTB10Y.index >= start_date) & (CTB10Y.index <= end_date)]
CTB10Y = CTB10Y - CTB10Y.shift()
CTB10Y

2000-01-03     NaN
2000-01-04   -0.09
2000-01-05    0.13
2000-01-06   -0.05
2000-01-07   -0.05
              ...
2020-12-24   -0.02
2020-12-28    0.00
2020-12-29    0.00
2020-12-30   -0.01
2020-12-31    0.00
Name: Market yield on U.S. Treasury securities at 10-year   constant maturity, quoted on investment basis, Length: 5253, dtype: float64

In [18]:
AAA = fred.get_series('DAAA', observation_start=start_date, observation_end=end_date)
AAA

2000-01-03    7.75
2000-01-04    7.69
2000-01-05    7.78
2000-01-06    7.72
2000-01-07    7.69
              ...
2020-12-25     NaN
2020-12-28    2.25
2020-12-29    2.25
2020-12-30    2.22
2020-12-31    2.23
Length: 5479, dtype: float64

In [19]:
BAA = fred.get_series('DBAA', observation_start=start_date, observation_end=end_date)
BAA

2000-01-03    8.27
2000-01-04    8.21
2000-01-05    8.29
2000-01-06    8.24
2000-01-07    8.22
              ...
2020-12-25     NaN
2020-12-28    3.16
2020-12-29    3.16
2020-12-30    3.13
2020-12-31    3.11
Length: 5479, dtype: float64

In [20]:
def generate_feature(f1, f2):
    '''
    compare and choose latest start date and earliest end date
    '''
    start_date = max(f1.index[0], f2.index[0])
    end_date = min(f1.index[-1], f2.index[-1])
    feature = f1[(f1.index >= start_date) & (f1.index <= end_date)] \
        - f2[(f2.index >= start_date) & (f2.index <= end_date)]
    return feature

In [21]:
TE1 = generate_feature(T120, T1)
TE1

2001-07-31    1.46
2001-08-01    1.51
2001-08-02    1.57
2001-08-03    1.62
2001-08-06    1.61
              ...
2020-12-25     NaN
2020-12-28    0.85
2020-12-29    0.86
2020-12-30    0.87
2020-12-31    0.85
Length: 5068, dtype: float64

In [22]:
TE2 = generate_feature(T120, T3)
TE2

2000-01-03    1.31
2000-01-04    1.22
2000-01-05    1.34
2000-01-06    1.32
2000-01-07    1.30
              ...
2020-12-25     NaN
2020-12-28    0.83
2020-12-29    0.84
2020-12-30    0.85
2020-12-31    0.84
Length: 5479, dtype: float64

In [23]:
TE3 = generate_feature(T120, T6)
TE3

2000-01-03    1.03
2000-01-04    0.99
2000-01-05    1.13
2000-01-06    1.13
2000-01-07    1.10
              ...
2020-12-25     NaN
2020-12-28    0.83
2020-12-29    0.82
2020-12-30    0.84
2020-12-31    0.84
Length: 5479, dtype: float64

In [24]:
TE5 = generate_feature(T3, T1)
TE5

2001-07-31   -0.15
2001-08-01   -0.15
2001-08-02   -0.15
2001-08-03   -0.14
2001-08-06   -0.14
              ...
2020-12-25     NaN
2020-12-28    0.02
2020-12-29    0.02
2020-12-30    0.02
2020-12-31    0.01
Length: 5068, dtype: float64

In [25]:
TE6 = generate_feature(T6, T1)
TE6

2001-07-31   -0.25
2001-08-01   -0.24
2001-08-02   -0.24
2001-08-03   -0.21
2001-08-06   -0.22
              ...
2020-12-25     NaN
2020-12-28    0.02
2020-12-29    0.04
2020-12-30    0.03
2020-12-31    0.01
Length: 5068, dtype: float64

In [26]:
DE1 = generate_feature(BAA, AAA)
DE1

2000-01-03    0.52
2000-01-04    0.52
2000-01-05    0.51
2000-01-06    0.52
2000-01-07    0.53
              ...
2020-12-25     NaN
2020-12-28    0.91
2020-12-29    0.91
2020-12-30    0.91
2020-12-31    0.88
Length: 5479, dtype: float64

In [27]:
DE2 = generate_feature(BAA, T120)
DE2

2000-01-03    1.69
2000-01-04    1.72
2000-01-05    1.67
2000-01-06    1.67
2000-01-07    1.70
              ...
2020-12-25     NaN
2020-12-28    2.22
2020-12-29    2.22
2020-12-30    2.20
2020-12-31    2.18
Length: 5479, dtype: float64

In [28]:
DE4 = generate_feature(BAA, T6)
DE4

2000-01-03    2.72
2000-01-04    2.71
2000-01-05    2.80
2000-01-06    2.80
2000-01-07    2.80
              ...
2020-12-25     NaN
2020-12-28    3.05
2020-12-29    3.04
2020-12-30    3.04
2020-12-31    3.02
Length: 5479, dtype: float64

In [29]:
DE5 = generate_feature(BAA, T3)
DE5

2000-01-03    3.00
2000-01-04    2.94
2000-01-05    3.01
2000-01-06    2.99
2000-01-07    3.00
              ...
2020-12-25     NaN
2020-12-28    3.05
2020-12-29    3.06
2020-12-30    3.05
2020-12-31    3.02
Length: 5479, dtype: float64

In [30]:
DE6 = generate_feature(BAA, T1)
DE6

2001-07-31    4.24
2001-08-01    4.27
2001-08-02    4.31
2001-08-03    4.34
2001-08-06    4.36
              ...
2020-12-25     NaN
2020-12-28    3.07
2020-12-29    3.08
2020-12-30    3.07
2020-12-31    3.03
Length: 5068, dtype: float64

In [31]:
DE7 = generate_feature(CD6, T6)
DE7

2000-01-03    0.50
2000-01-04    0.64
2000-01-05    0.64
2000-01-06    0.71
2000-01-07    0.75
              ...
2013-06-24    0.15
2013-06-25    0.16
2013-06-26    0.16
2013-06-27    0.16
2013-06-28    0.17
Length: 3520, dtype: float64

In [83]:
data = pd.read_excel("https://www.eia.gov/dnav/pet/hist_xls/RWTCd.xls", sheet_name = 'Data 1', skiprows = 2)
data = data.set_index('Date')
data[(data.index >= start_date) & (data.index <=end_date)]

            Cushing, OK WTI Spot Price FOB (Dollars per Barrel)
Date
2000-01-04                                              25.56
2000-01-05                                              24.65
2000-01-06                                              24.79
2000-01-07                                              24.79
2000-01-10                                              24.71
...                                                       ...
2020-12-24                                              48.18
2020-12-28                                              47.50
2020-12-29                                              47.85
2020-12-30                                              48.24
2020-12-31                                              48.35

[5271 rows x 1 columns]

In [81]:
type(data.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [33]:
OIL = (data - data.shift()) / data.shift() # need SPY dates as control
OIL

            Cushing, OK WTI Spot Price FOB (Dollars per Barrel)
Date
1986-01-02                                                NaN
1986-01-03                                           0.017214
1986-01-06                                           0.020385
1986-01-07                                          -0.025631
1986-01-08                                           0.000774
...                                                       ...
2022-05-03                                          -0.025195
2022-05-04                                           0.051790
2022-05-05                                           0.003060
2022-05-06                                           0.014329
2022-05-09                                          -0.060518

[9160 rows x 1 columns]

In [34]:
import requests

link = "https://www.usagold.com/daily-gold-price-history/?ddYears=2000"
f = requests.get(link)
print(f.text)

<HTML>
<HEAD>
<TITLE>403 Forbidden</TITLE>
</HEAD>
<BODY>
<H1>Forbidden</H1>
You do not have permission to access this document.
<P>
<HR>
<ADDRESS>
Web Server at usagold.com
</ADDRESS>
</BODY>
</HTML>

<!--
   - Unfortunately, Microsoft has added a clever new
   - "feature" to Internet Explorer. If the text of
   - an error's message is "too small", specifically
   - less than 512 bytes, Internet Explorer returns
   - its own error message. You can turn that off,
   - but it's pretty tricky to find switch called
   - "smart error messages". That means, of course,
   - that short error messages are censored by default.
   - IIS always returns error messages that are long
   - enough to make Internet Explorer happy. The
   - workaround is pretty simple: pad the error
   - message with a big comment like this to push it
   - over the five hundred and twelve bytes minimum.
   - Of course, that's exactly what you're reading
   - right now.
   -->

In [76]:
Gold = pd.read_csv('/Users/jinghuang/Desktop/MAS/high-priority-papers/src/GOLD_2000-2020.csv').iloc[1:, ::]
Gold.index = pd.to_datetime(Gold.index)
Gold

           Citation: Lawrence H. Officer and Samuel H. Williamson, 'The Price of Gold, 1257-2014,' MeasuringWorth, 2022.
2000-01-01                                             280.10
2001-01-01                                             272.22
2002-01-01                                             311.33
2003-01-01                                             364.80
2004-01-01                                             410.52
2005-01-01                                             446.00
2006-01-01                                             606.00
2007-01-01                                             699.00
2008-01-01                                             874.00
2009-01-01                                             975.00
2010-01-01                                           1,227.00
2011-01-01                                           1,572.00
2012-01-01                                           1,700.00
2013-01-01                                           1,415.00
2014-01-01                                           1,269.00
2015-01-01                                           1,163.00
2016-01-01                                           1,252.00
2017-01-01                                           1,260.00
2018-01-01                                           1,270.00
2019-01-01                                           1,390.00
2020-01-01                                           1,770.00

In [72]:
type(Gold.iloc[1:,::].index[0])

str

In [36]:
#pip install investpy
import investpy

In [37]:
start_date = "01/01/2000"
end_date = "31/12/2020"

In [38]:
USD_Y = investpy.get_currency_cross_historical_data(currency_cross='USD/JPY', from_date=start_date, to_date=end_date)
USD_Y.head()

              Open    High     Low   Close Currency
Date
2000-01-03  102.11  102.18  101.31  101.59      JPY
2000-01-04  101.46  103.28  101.40  103.27      JPY
2000-01-05  103.28  104.40  102.76  104.29      JPY
2000-01-06  104.32  105.55  103.97  105.33      JPY
2000-01-07  105.27  105.91  104.85  105.36      JPY

In [39]:
USD_GBP = investpy.get_currency_cross_historical_data(currency_cross='GBP/USD', from_date=start_date, to_date=end_date)
USD_GBP.head()

              Open    High     Low   Close Currency
Date
2000-01-03  1.6143  1.6397  1.6143  1.6370      USD
2000-01-04  1.6363  1.6415  1.6315  1.6370      USD
2000-01-05  1.6355  1.6452  1.6354  1.6420      USD
2000-01-06  1.6422  1.6513  1.6413  1.6468      USD
2000-01-07  1.6469  1.6500  1.6362  1.6387      USD

In [40]:
USD_CAD = investpy.get_currency_cross_historical_data(currency_cross='USD/CAD', from_date=start_date, to_date=end_date)
USD_CAD.head()

              Open    High     Low   Close Currency
Date
2000-01-03  1.4458  1.4475  1.4410  1.4466      CAD
2000-01-04  1.4470  1.4533  1.4438  1.4520      CAD
2000-01-05  1.4528  1.4561  1.4484  1.4495      CAD
2000-01-06  1.4502  1.4602  1.4496  1.4595      CAD
2000-01-07  1.4595  1.4620  1.4555  1.4558      CAD

In [41]:
USD_CNY = investpy.get_currency_cross_historical_data(currency_cross='USD/CNY', from_date=start_date, to_date=end_date)
USD_CNY.head()

              Open    High     Low   Close Currency
Date
2000-01-03  8.2798  8.2798  8.2798  8.2798      CNY
2000-01-04  8.2799  8.2799  8.2799  8.2799      CNY
2000-01-05  8.2798  8.2798  8.2798  8.2798      CNY
2000-01-06  8.2797  8.2797  8.2797  8.2797      CNY
2000-01-07  8.2794  8.2794  8.2794  8.2794      CNY