In [236]:
import numpy as np 
import pandas as pd 
import yfinance as yf
from fredapi import Fred

In [242]:
start_date="2000-01-01"
end_date="2020-12-31"

df = yf.download("WMT", start=start_date, end=end_date)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,68.312500,70.250000,68.250000,69.125000,46.123302,2112700
2000-01-03,68.375000,69.000000,65.500000,66.812500,44.580296,8369900
2000-01-04,65.500000,65.812500,64.187500,64.312500,42.912201,6745100
2000-01-05,63.875000,64.375000,62.187500,63.000000,42.036430,7018700
2000-01-06,63.000000,64.562500,62.687500,63.687500,42.495159,6544500
...,...,...,...,...,...,...
2020-12-23,143.539993,144.220001,142.300003,143.220001,139.926315,6810200
2020-12-24,143.539993,144.389999,143.179993,143.500000,140.199875,3018200
2020-12-28,144.039993,145.300003,143.330002,145.220001,141.880325,6448300
2020-12-29,145.639999,145.850006,143.589996,144.300003,140.981506,5979400
2020-12-30,144.880005,145.149994,143.940002,144.179993,140.864243,6250400

In [28]:
stocks = pd.read_csv('S&P500 companies list (2000 to 2020).csv')
tickers= stocks['ticker'].values

In [29]:
#function for stock data download from yahoo finance
def download_stock(ticker):
    df_ticker = yf.download(ticker, start=start_date, end=end_date)
    return df_ticker

In [30]:
#create dictionary with key as stock ticker and value as dataframe downloaded from yahoo finance
dic = {}
for t in tickers:
    dic[t] = download_stock(t)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ABD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ABUD: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ABXFF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACAS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACCOB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACSA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ADCO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AESC: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AEXP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AGAS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AGC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AGREA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AIGR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AKS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ALXN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMDV: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMR: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMSGA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ANDW: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ANLG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- APCC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- APOLA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ARG: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ASD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ASHC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AV: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AVP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AWIN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BARL: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BBT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BCMP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BCR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BFO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BGENF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BGG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BJS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BKLY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BLKR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BMET: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BNI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BPR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRCM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BVSN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BXLT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BYA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CAM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CBS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CBSS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CCII: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CDNC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CEFT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CELG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CEPH: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CHK: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CIT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CLCH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CMCSK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CNAG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- COC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- COH: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CPGX: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CRCH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CTB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CUCD: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CVC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CVTY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CXO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DBKT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DJ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DLPH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DNR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DNY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DOLR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DRHI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DTV: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DV: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DWDP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EDS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EGRP: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EMCS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EOP: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ESV: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ETS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FCMB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FDC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FDO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FEMP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FJ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FLIR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FNAC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FNM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FRRI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FRX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FTEN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GART: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GENZ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GMCR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GPU: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GTW: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HCBK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HCFDS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HCR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HMAIA: No data found, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HRS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IACI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IILG: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IMNX: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IVGN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JCP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JEC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JHF: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JOY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KMRT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KNB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KRFT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KSU: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LKQX: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LLSI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LLTC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LOWE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LUK: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LVLT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LXK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MCCRK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MCRN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MDP: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MDR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MDTR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MEA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MERQ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MFS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MGNE: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MHS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MILI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MJN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MOHK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MOT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MPTR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MRIS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MRKT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MWD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MWV: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MXIM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MYL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- N: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NBL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NCO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NDCO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NFB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NIKE: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NOVL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NU: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NXTL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OAT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OCF: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ODEP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OKEN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCCW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCLN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PE: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PSVB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PTRAS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QEP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QLGC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QTRN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QWST: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RAI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RBK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RDC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RDR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RESM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RFMD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RHAT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RLM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ROPR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SAI: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SAPE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SEBL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SGAT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SGIC: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SIAL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SLMA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SMBL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SNDK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SOAL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPK: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPLS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STJ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SUNE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SWY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SXCL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SZA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TFCF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TIF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TMK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TOSC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TSG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TSS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TWC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TXU: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TYC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UARM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UAUA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UBO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UNIH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UNIP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UNPH: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UPCM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- USW: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UTX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VAR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VIAB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VRDX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VSM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VTSS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WAMU: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WATS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WFMI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WFT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WIN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WINEA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLTW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WMTT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WPO: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WPX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WTHG: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WYE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WYND: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XEC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XLNX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XON: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XTO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- YHOO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- YNR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ZY: Data doesn't exist for startDate = 946656000, endDate = 1609344000

In [31]:
#functions to calculate stock specific features
#1 Day
def Day(df):
    df['Date'] = df.index
    df['Day'] = df['Date'].dt.dayofweek
    return df

#2 Close
def Close(df):
    return df.drop(['Open','High','Low','Adj Close','Date'],axis=1)

#3 VOL
def VOL(df):
    df['VOL']=df['Volume'].pct_change()
    return df.drop(['Volume'],axis=1)

#4 MOM-1
def MOM1(df):
    df['Close_l1'] = df['Close'].shift(1)
    df['MOM1']=df['Close_l1'].pct_change()
    return df.drop(['Close_l1'],axis=1)

#5 MOM-2
def MOM2(df):
    df['Close_l2'] = df['Close'].shift(2)
    df['MOM2']=df['Close_l2'].pct_change()
    return df.drop(['Close_l2'],axis=1)

#6 MOM-3
def MOM3(df):
    df['Close_l3'] = df['Close'].shift(3)
    df['MOM3']=df['Close_l3'].pct_change()
    return df.drop(['Close_l3'],axis=1)

#7 ROC-5
def ROC5(df):
    df['Close_l5'] = df['Close'].shift(5)
    df['ROC5']=(df['Close']-df['Close_l5'])/df['Close_l5']
    return df.drop(['Close_l5'],axis=1)

#8 ROC-10
def ROC10(df):
    df['Close_l10'] = df['Close'].shift(10)
    df['ROC10']=(df['Close']-df['Close_l10'])/df['Close_l10']
    return df.drop(['Close_l10'],axis=1)

#9 ROC-15
def ROC15(df):
    df['Close_l15'] = df['Close'].shift(15)
    df['ROC15']=(df['Close']-df['Close_l15'])/df['Close_l15']
    return df.drop(['Close_l15'],axis=1)

#10 ROC-20
def ROC20(df):
    df['Close_l20'] = df['Close'].shift(20)
    df['ROC20']=(df['Close']-df['Close_l20'])/df['Close_l20']
    return df.drop(['Close_l20'],axis=1)

#11 EMA10
def calculate_ema(prices, days, smoothing=2):
    ema = []
    for num_day in range(days-1):
        ema.append(0)        
    ema.append(sum(prices[:days]) / days)
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema
def EMA10(df):
    df['EMA10']=calculate_ema(df['Close'], 10)
    return df

#12 EMA20
def EMA20(df):
    df['EMA20']=calculate_ema(df['Close'], 20)
    return df

#13 EMA50
def EMA50(df):
    df['EMA50']=calculate_ema(df['Close'], 50)
    return df

#14 EMA200
def EMA200(df):
    df['EMA200']=calculate_ema(df['Close'], 200)
    return df

In [32]:
#function to calculate all features
def cal_export(df):
    df = Day(df)
    df = Close(df)
    df = VOL(df)
    df = MOM1(df)
    df = MOM2(df)
    df = MOM3(df)
    df = ROC5(df)
    df = ROC10(df)
    df = ROC15(df)
    df = ROC20(df)
    df = EMA10(df)
    df = EMA20(df)
    df = EMA50(df)
    df = EMA200(df)
    return df

In [33]:
#calculate features and export as csv file
for k,v in dic.items():
    if v.shape[0] == 5284:
        cal_export(v).to_csv(k+'.csv')

In [243]:
#Calculate features

#1 Day
df['Date'] = df.index
df['Day'] = df['Date'].dt.dayofweek

#2 Close

#3 VOL
df['VOL']=df['Volume'].pct_change()

#4 MOM-1
df['Adj Close_l1'] = df['Adj Close'].shift(1)
df['MOM1']=df['Adj Close_l1'].pct_change()

#5 MOM-2
df['Adj Close_l2'] = df['Adj Close'].shift(2)
df['MOM2']=df['Adj Close_l2'].pct_change()

#6 MOM-3
df['Adj Close_l2'] = df['Adj Close'].shift(2)
df['MOM3']=df['Adj Close_l2'].pct_change()

#7 ROC-5
df['Adj Close_l5'] = df['Adj Close'].shift(5)
df['ROC5']=(df['Adj Close']-df['Adj Close_l5'])/df['Adj Close_l5']

#8 ROC-10
df['Adj Close_l10'] = df['Adj Close'].shift(10)
df['ROC10']=(df['Adj Close']-df['Adj Close_l10'])/df['Adj Close_l10']

#9 ROC-15
df['Adj Close_l15'] = df['Adj Close'].shift(15)
df['ROC15']=(df['Adj Close']-df['Adj Close_l15'])/df['Adj Close_l15']

#10 ROC-20
df['Adj Close_l20'] = df['Adj Close'].shift(20)
df['ROC20']=(df['Adj Close']-df['Adj Close_l20'])/df['Adj Close_l20']

#11 EMA-10
def calculate_ema(prices, days, smoothing=2):
    ema = []
    for num_day in range(days-1):
        ema.append('N/A')        
    ema.append(sum(prices[:days]) / days)
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema
df['EMA10']=calculate_ema(df['Adj Close'], 10)

#12 EMA-20
df['EMA20']=calculate_ema(df['Adj Close'], 20)

#13 EMA-50
df['EMA50']=calculate_ema(df['Adj Close'], 50)

#14 EMA-200
df['EMA200']=calculate_ema(df['Adj Close'], 200)

#45 IXIC
df_IXIC = yf.download("^IXIC", start=start_date, end=end_date)
df['IXIC']=df['Adj Close'].pct_change()

#46 GSPC
df_GSPC = yf.download("^GSPC", start=start_date, end=end_date)
df['GSPC']=df_GSPC['Adj Close'].pct_change()

#47 DJI
df_DJI = yf.download("DJI", start=start_date, end=end_date)
df['DJI']=df_DJI['Adj Close'].pct_change()

#48 NYSE
df_NYSE = yf.download("^NYA", start=start_date, end=end_date)
df['NYSE']=df_NYSE['Adj Close'].pct_change()

#49 RUSSELL
df_RUSSELL = yf.download("^RUT", start=start_date, end=end_date)
df['RUSSELL']=df_DJI['Adj Close'].pct_change()

#50 HSI
df_HSI = yf.download("HSI", start=start_date, end=end_date)
df['HSI']=df_HSI['Adj Close'].pct_change()

#51 SSE
df_SSE = yf.download("000001.SS", start=start_date, end=end_date)
df['SSE']=df_SSE['Adj Close'].pct_change()

#52 FCHI
df_FCHI = yf.download("^FCHI", start=start_date, end=end_date)
df['FCHI']=df_FCHI['Adj Close'].pct_change()

#53 FTSE
df_FTSE = yf.download("^FTSE", start=start_date, end=end_date)
df['FTSE']=df_FTSE['Adj Close'].pct_change()

#54 GDAXI
df_GDAXI = yf.download("^GDAXI", start=start_date, end=end_date)
df['GDAXI']=df_GDAXI['Adj Close'].pct_change()

#55 USD-Y
df_USDY = yf.download("JPY=X", start=start_date, end=end_date)
df['USDY']=df_USDY['Adj Close'].pct_change()

#56 USD-GBP
df_USDGBP = yf.download("GBP=X", start=start_date, end=end_date)
df['USDGBP']=df_USDGBP['Adj Close'].pct_change()

#57 USD-CAD
df_USDCAD = yf.download("CAD=X", start=start_date, end=end_date)
df['USDCAD']=df_USDCAD['Adj Close'].pct_change()

#58 USD-CNY
df_USDCNY = yf.download("CNY=X", start=start_date, end=end_date)
df['USDCNY']=df_USDCNY['Adj Close'].pct_change()

#64 XOM
df_XOM = yf.download("XOM", start=start_date, end=end_date)
df['XOM']=df_XOM['Adj Close'].pct_change()

#65 JPM
df_JPM = yf.download("JPM", start=start_date, end=end_date)
df['JPM']=df_JPM['Adj Close'].pct_change()

#66 AAPL
df_AAPL = yf.download("AAPL", start=start_date, end=end_date)
df['AAPL']=df_AAPL['Adj Close'].pct_change()

#67 MSFT
df_MSFT = yf.download("MSFT", start=start_date, end=end_date)
df['MSFT']=df_MSFT['Adj Close'].pct_change()

#68 GE
df_GE = yf.download("GE", start=start_date, end=end_date)
df['GE']=df_GE['Adj Close'].pct_change()

#69 JNJ
df_JNJ = yf.download("JNJ", start=start_date, end=end_date)
df['JNJ']=df_JNJ['Adj Close'].pct_change()

#70 WFC
df_WFC = yf.download("WFC", start=start_date, end=end_date)
df['WFC']=df_WFC['Adj Close'].pct_change()

#71 AMZN
df_AMZN = yf.download("AMZN", start=start_date, end=end_date)
df['AMZN']=df_AMZN['Adj Close'].pct_change()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [245]:
df.columns # IXIC onwards

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Date', 'Day',
       'VOL', 'Adj Close_l1', 'MOM1', 'Adj Close_l2', 'MOM2', 'MOM3',
       'Adj Close_l5', 'ROC5', 'Adj Close_l10', 'ROC10', 'Adj Close_l15',
       'ROC15', 'Adj Close_l20', 'ROC20', 'EMA10', 'EMA20', 'EMA50', 'EMA200',
       'IXIC', 'GSPC', 'DJI', 'NYSE', 'RUSSELL', 'HSI', 'SSE', 'FCHI', 'FTSE',
       'GDAXI', 'USDY', 'USDGBP', 'USDCAD', 'USDCNY', 'XOM', 'JPM', 'AAPL',
       'MSFT', 'GE', 'JNJ', 'WFC', 'AMZN'],
      dtype='object')

In [246]:
df = df[['Close', 'IXIC', 'GSPC', 'DJI', 'NYSE', 'RUSSELL', 'HSI', 'SSE', 'FCHI', 'FTSE',
       'GDAXI', 'USDY', 'USDGBP', 'USDCAD', 'USDCNY', 'XOM', 'JPM', 'AAPL',
       'MSFT', 'GE', 'JNJ', 'WFC', 'AMZN']]

In [247]:
df

,Close,IXIC,GSPC,DJI,NYSE,RUSSELL,HSI,SSE,FCHI,FTSE,...,USDCAD,USDCNY,XOM,JPM,AAPL,MSFT,GE,JNJ,WFC,AMZN
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,69.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,66.812500,-0.033454,-0.009549,-0.012142,-0.016578,-0.012142,-0.998310,NaN,NaN,NaN,...,NaN,NaN,-0.027929,-0.061947,0.088754,-0.001606,-0.030695,-0.011395,-0.032457,0.174056
2000-01-04,64.312500,-0.037418,-0.038345,-0.031662,-0.032290,-0.031662,594.701356,NaN,-0.041463,NaN,...,NaN,NaN,-0.019154,-0.021942,-0.084310,-0.033780,-0.040000,-0.036610,-0.049521,-0.083217
2000-01-05,63.000000,-0.020408,0.001922,0.011348,0.003556,0.011348,-0.998527,0.002354,-0.033907,-0.019502,...,NaN,NaN,0.054516,-0.006172,0.014633,0.010544,-0.001735,0.010556,-0.010084,-0.148741
2000-01-06,63.687500,0.010913,0.000956,0.011742,0.010417,0.011742,601.512939,0.038491,-0.005400,-0.013571,...,NaN,NaN,0.051698,0.014197,-0.086538,-0.033498,0.013369,0.031337,0.044142,-0.060036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,143.220001,-0.006796,0.000746,0.003808,0.005396,0.003808,0.008572,0.007608,0.011109,0.012390,...,0.003120,-0.000916,0.012852,0.027944,-0.006976,-0.013039,0.023563,-0.005107,0.047997,-0.006627
2020-12-24,143.500000,0.001955,0.003537,0.002327,-0.001120,0.002327,0.001651,-0.005679,-0.001009,0.000970,...,-0.003707,-0.000397,-0.004070,-0.004398,0.007712,0.007827,-0.019337,0.003488,-0.016804,-0.003949
2020-12-28,145.220001,0.011986,0.008723,0.006758,0.001618,0.006758,-0.002729,0.000213,0.012019,NaN,...,-0.000669,0.001807,0.003366,0.006585,0.035766,0.009921,-0.000939,0.004722,0.003016,0.035071
2020-12-29,144.300003,-0.006335,-0.002227,-0.002246,-0.000545,-0.002246,0.009649,-0.005372,0.004189,0.015472,...,0.000031,-0.000795,-0.011260,-0.002633,-0.013315,-0.003601,-0.007519,0.006201,-0.005012,0.011584
2020-12-30,144.179993,-0.000832,0.001342,0.002436,0.005526,0.002436,0.021778,0.010481,-0.002206,-0.007103,...,-0.001394,-0.000857,0.007996,0.002800,-0.008527,-0.011019,0.014204,0.012391,-0.001007,-0.010882

# Investing.com

In [248]:
import investpy

In [249]:
start_date = "30/12/1999"
end_date = "31/12/2020"

In [250]:
#indices: stocks, funds, ETFs, currency crosses, certificates, bonds, commodities, indices, and cryptos
search_result = investpy.search_quotes(text='Brent', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8833, "name": "Brent Oil Futures", "symbol": "LCO", "country": null, "tag": "/commodities/brent-oil", "pair_type": "commodities", "exchange": "ICE"}

In [251]:
OIL_BRENT = investpy.search.search_quotes(text='LCO', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
#OIL_BRENT.to_csv("OIL_BRENT.csv")
OIL_BRENT.rename(columns={'Change Pct': 'OIL_BRENT'}, inplace=True)
OIL_BRENT['OIL_BRENT']

Date
1999-12-30   -1.45
2000-01-04   -2.75
2000-01-05   -2.71
2000-01-06   -0.46
2000-01-07   -2.24
              ...
2020-12-24    0.18
2020-12-28   -0.84
2020-12-29    0.45
2020-12-30    0.49
2020-12-31    0.90
Name: OIL_BRENT, Length: 5390, dtype: float64

In [252]:
df = df.join(OIL_BRENT['OIL_BRENT'])

In [253]:
search_result = investpy.search_quotes(text='WTI', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8849, "name": "Crude Oil WTI Futures", "symbol": "T", "country": null, "tag": "/commodities/crude-oil", "pair_type": "commodities", "exchange": "ICE"}

In [254]:
OIL_WTI = investpy.get_commodity_historical_data(commodity='Crude Oil WTI', from_date=start_date, to_date=end_date)
#OIL_WTI = investpy.get_commodity_historical_data(commodity='Crude Oil WTI')
OIL_WTI['OIL_WTI'] = (OIL_WTI['Close'] - OIL_WTI['Close'].shift()) / OIL_WTI['Close'].shift()
#OIL_WTI = OIL_WTI[(OIL_WTI.index >= start_date) & (OIL_WTI.index <=end_date)]
#OIL_WTI.iloc[1:,:].to_csv("OIL_WTI.csv")
OIL_WTI

             Open   High    Low  Close  Volume Currency   OIL_WTI
Date
1999-12-30  26.30  26.82  25.30  25.60   52930      USD       NaN
2000-01-04  25.20  25.69  24.71  25.55   74788      USD -0.001953
2000-01-05  25.50  25.61  24.87  24.91   70944      USD -0.025049
2000-01-06  24.80  25.34  24.51  24.78   85252      USD -0.005219
2000-01-07  24.65  25.00  24.15  24.22   91828      USD -0.022599
...           ...    ...    ...    ...     ...      ...       ...
2020-12-24  48.09  48.62  47.56  48.23  167390      USD  0.002286
2020-12-28  48.23  48.96  47.50  47.62  238462      USD -0.012648
2020-12-29  47.72  48.35  47.68  48.00  213778      USD  0.007980
2020-12-30  48.13  48.66  47.61  48.40  266957      USD  0.008333
2020-12-31  48.35  48.58  47.77  48.52  181894      USD  0.002479

[5360 rows x 7 columns]

In [255]:
df = df.join(OIL_WTI['OIL_WTI'])

In [256]:
search_result = investpy.search_quotes(text='gold', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8830, "name": "Gold Futures", "symbol": "ZG", "country": null, "tag": "/commodities/gold", "pair_type": "commodities", "exchange": "ICE"}

In [257]:
Gold_F = investpy.search.search_quotes(text='ZG', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
#Gold_F.to_csv("Gold_F.csv")
Gold_F.rename(columns={'Change Pct': 'Gold_F'}, inplace=True)
Gold_F

              Open    High     Low   Close  Volume  Gold_F
Date
1999-12-30   288.5   288.5   288.5   288.5       0   -0.96
2000-01-04   281.0   281.0   281.0   282.7       4   -2.01
2000-01-05   283.2   283.2   283.2   281.1      16   -0.57
2000-01-06   281.4   281.4   281.4   281.4       0    0.11
2000-01-07   281.9   281.9   281.9   281.9       0    0.18
...            ...     ...     ...     ...     ...     ...
2020-12-24  1874.1  1882.1  1871.1  1880.7     204    0.27
2020-12-28  1884.4  1900.8  1874.1  1877.9    1308   -0.15
2020-12-29  1880.0  1886.3  1874.4  1880.5     343    0.14
2020-12-30  1881.8  1899.0  1879.5  1893.4  133658    0.69
2020-12-31  1899.0  1904.9  1889.1  1895.1  130631    0.09

[5363 rows x 6 columns]

In [258]:
df = df.join(Gold_F['Gold_F'])

In [259]:
search_result = investpy.search_quotes(text='XAU/USD', n_results=1)
print(search_result)

{"id_": 68, "name": "Gold Spot US Dollar", "symbol": "XAU/USD", "country": "gold", "tag": "/currencies/xau-usd", "pair_type": "currencies", "exchange": ""}

In [260]:
XAU_USD = investpy.get_currency_cross_historical_data(currency_cross='XAU/USD', from_date=start_date, to_date=end_date)
XAU_USD['XAU_USD'] = (XAU_USD['Close'] - XAU_USD['Close'].shift()) / XAU_USD['Close'].shift()
XAU_USD

               Open     High      Low    Close Currency   XAU_USD
Date
1999-12-30   291.10   288.30   288.30   288.30      USD       NaN
1999-12-31   288.50   288.25   288.25   288.25      USD -0.000173
2000-01-03   288.50   289.00   289.00   289.00      USD  0.002602
2000-01-04   288.75   282.45   282.45   282.45      USD -0.022664
2000-01-05   281.50   281.00   281.00   281.00      USD -0.005134
...             ...      ...      ...      ...      ...       ...
2020-12-25  1877.07  1877.07  1877.07  1875.82      USD -0.000394
2020-12-28  1885.93  1900.53  1869.21  1871.19      USD -0.002468
2020-12-29  1872.24  1886.91  1870.99  1877.99      USD  0.003634
2020-12-30  1878.34  1894.06  1875.66  1893.37      USD  0.008190
2020-12-31  1893.55  1901.26  1884.77  1896.49      USD  0.001648

[5470 rows x 6 columns]

In [261]:
df = df.join(XAU_USD['XAU_USD'])

In [262]:
XAG_USD = investpy.get_currency_cross_historical_data(currency_cross='XAG/USD', from_date=start_date, to_date=end_date)
XAG_USD['XAG_USD'] = (XAG_USD['Close'] - XAG_USD['Close'].shift()) / XAG_USD['Close'].shift()
XAG_USD

              Open    High     Low   Close Currency   XAG_USD
Date
1999-12-30   5.360   5.410   5.400   5.410      USD       NaN
1999-12-31   5.400   5.420   5.400   5.420      USD  0.001848
2000-01-03   5.400   5.360   5.340   5.360      USD -0.011070
2000-01-04   5.390   5.350   5.330   5.350      USD -0.001866
2000-01-05   5.320   5.170   5.150   5.170      USD -0.033645
...            ...     ...     ...     ...      ...       ...
2020-12-25  25.825  25.875  25.825  25.850      USD  0.000387
2020-12-28  26.090  26.775  25.944  26.160      USD  0.011992
2020-12-29  26.205  26.620  25.950  26.179      USD  0.000726
2020-12-30  26.210  26.646  26.135  26.610      USD  0.016464
2020-12-31  26.640  26.715  26.210  26.358      USD -0.009470

[5473 rows x 6 columns]

In [263]:
df = df.join(XAG_USD['XAG_USD'])

In [264]:
search_result = investpy.search_quotes(text='gas', n_results=1)
print(search_result)

{"id_": 8862, "name": "Natural Gas Futures", "symbol": "NG", "country": null, "tag": "/commodities/natural-gas", "pair_type": "commodities", "exchange": "NYMEX"}

In [268]:
Gas = investpy.search.search_quotes(text='NG', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
Gas.rename(columns={'Change Pct': 'Gas'}, inplace=True)
Gas

             Open   High    Low  Close  Volume   Gas
Date
1999-12-30  2.419  2.420  2.305  2.329   15439 -2.72
2000-01-04  2.130  2.200  2.130  2.176   30152 -6.57
2000-01-05  2.180  2.200  2.125  2.168   27946 -0.37
2000-01-06  2.165  2.220  2.135  2.196   29071  1.29
2000-01-07  2.195  2.230  2.155  2.173   28455 -1.05
...           ...    ...    ...    ...     ...   ...
2020-12-24  2.611  2.632  2.515  2.518   39990 -3.45
2020-12-28  2.311  2.343  2.238  2.305   49279 -8.46
2020-12-29  2.340  2.489  2.282  2.467    3270  7.03
2020-12-30  2.444  2.473  2.387  2.422   81788 -1.82
2020-12-31  2.433  2.547  2.429  2.539  111108  4.83

[5358 rows x 6 columns]

In [269]:
df = df.join(Gas['Gas'])

In [270]:
search_result = investpy.search_quotes(text='silver', n_results=1)
print(search_result)

{"id_": 8836, "name": "Silver Futures", "symbol": "ZI", "country": null, "tag": "/commodities/silver", "pair_type": "commodities", "exchange": "ICE"}

In [271]:
Silver = investpy.search.search_quotes(text='ZI', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
Silver.rename(columns={'Change Pct': 'Silver'}, inplace=True)
Silver

              Open    High     Low   Close  Volume  Silver
Date
1999-12-30   5.370   5.370   5.370   5.413      15    0.71
2000-01-04   5.290   5.290   5.290   5.335       3   -1.44
2000-01-05   5.170   5.170   5.170   5.170       0   -3.09
2000-01-06   5.127   5.127   5.127   5.127       0   -0.83
2000-01-07   5.150   5.150   5.150   5.150      50    0.45
...            ...     ...     ...     ...     ...     ...
2020-12-27  25.910  26.305  25.910  26.295       0    1.65
2020-12-28  26.095  26.900  26.095  26.510     279    0.82
2020-12-29  26.500  26.725  26.165  26.183     189   -1.23
2020-12-30  26.325  26.835  26.260  26.573   47678    1.49
2020-12-31  26.835  26.880  26.345  26.412   39622   -0.61

[5627 rows x 6 columns]

In [272]:
df = df.join(Silver['Silver'])

In [273]:
search_result = investpy.search_quotes(text='Copper Futures', n_results=5)
for i in search_result:
    #print(search_result)
    print(i)

{"id_": 8831, "name": "Copper Futures", "symbol": "HG", "country": null, "tag": "/commodities/copper", "pair_type": "commodities", "exchange": "COMEX"}
{"id_": 959211, "name": "Copper Futures", "symbol": "MCU", "country": null, "tag": "/commodities/copper?cid=959211", "pair_type": "commodities", "exchange": ""}
{"id_": 49771, "name": "Copper Futures", "symbol": "MCCc1", "country": null, "tag": "/commodities/copper?cid=49771", "pair_type": "commodities", "exchange": "MCX"}
{"id_": 1181051, "name": "Copper Futures", "symbol": "MCCc2", "country": null, "tag": "/commodities/copper?cid=1181051", "pair_type": "commodities", "exchange": "MCX"}
{"id_": 1116454, "name": "JKO Dow Jones Copper ER Futures ETF", "symbol": "00763U", "country": "taiwan", "tag": "/etfs/paradigm-dowjones-copper-er-futures", "pair_type": "etfs", "exchange": "Taiwan"}

In [274]:
# choose united states rather than united kindom
Copper = investpy.search.search_quotes(text='HG', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
Copper.rename(columns={'Change Pct': 'Copper'}, inplace=True)
Copper

              Open    High     Low   Close  Volume  Copper
Date
1999-12-30  0.8480  0.8530  0.8450  0.8530     481    0.59
2000-01-04  0.8450  0.8460  0.8360  0.8380     407   -1.76
2000-01-05  0.8350  0.8480  0.8320  0.8480     254    1.19
2000-01-06  0.8400  0.8450  0.8400  0.8450     480   -0.35
2000-01-07  0.8430  0.8500  0.8430  0.8460     223    0.12
...            ...     ...     ...     ...     ...     ...
2020-12-24  3.5520  3.5655  3.5520  3.5595      66    0.14
2020-12-28  3.5860  3.6170  3.5810  3.5685     573    0.25
2020-12-29  3.5675  3.5690  3.5640  3.5500      23   -0.52
2020-12-30  3.5495  3.5755  3.5495  3.5485     228   -0.04
2020-12-31  3.5340  3.5340  3.5245  3.5185      37   -0.85

[5310 rows x 6 columns]

In [275]:
df = df.join(Copper['Copper'])

In [276]:
search_result = investpy.search_quotes(text='USD/AUD', n_results=1)
print(search_result)

{"id_": 5, "name": "Australian Dollar US Dollar", "symbol": "AUD/USD", "country": "australia", "tag": "/currencies/aud-usd", "pair_type": "currencies", "exchange": ""}

In [277]:
USD_AUD = investpy.get_currency_cross_historical_data(currency_cross='USD/AUD', from_date=start_date, to_date=end_date)
USD_AUD['USD_AUD'] = (USD_AUD['Close'] - USD_AUD['Close'].shift()) / USD_AUD['Close'].shift()
USD_AUD

              Open    High     Low   Close Currency   USD_AUD
Date
1999-12-30  1.5293  1.5296  1.5293  1.5296      AUD       NaN
2000-01-04  1.5207  1.5239  1.5207  1.5239      AUD -0.003726
2000-01-05  1.5214  1.5202  1.5214  1.5202      AUD -0.002428
2000-01-06  1.5260  1.5280  1.5260  1.5280      AUD  0.005131
2000-01-07  1.5253  1.5262  1.5253  1.5262      AUD -0.001178
...            ...     ...     ...     ...      ...       ...
2020-12-25  1.3163  1.3202  1.3133  1.3158      AUD -0.000684
2020-12-28  1.3187  1.3233  1.3117  1.3193      AUD  0.002660
2020-12-29  1.3196  1.3197  1.3115  1.3146      AUD -0.003562
2020-12-30  1.3147  1.3155  1.3009  1.3009      AUD -0.010421
2020-12-31  1.3010  1.3024  1.2915  1.2994      AUD -0.001153

[5469 rows x 6 columns]

In [278]:
df = df.join(USD_AUD['USD_AUD'])

In [279]:
USD_NZD = investpy.get_currency_cross_historical_data(currency_cross='USD/NZD', from_date=start_date, to_date=end_date)
USD_NZD['USD_NZD'] = (USD_NZD['Close'] - USD_NZD['Close'].shift()) / USD_NZD['Close'].shift()
USD_NZD

              Open    High     Low   Close Currency   USD_NZD
Date
1999-12-30  1.9175  1.9151  1.9175  1.9151      NZD       NaN
1999-12-31  1.9077  1.9095  1.9077  1.9095      NZD -0.002924
2000-01-04  1.9198  1.9218  1.9198  1.9218      NZD  0.006441
2000-01-05  1.9279  1.9255  1.9279  1.9255      NZD  0.001925
2000-01-06  1.9384  1.9433  1.9384  1.9433      NZD  0.009244
...            ...     ...     ...     ...      ...       ...
2020-12-25  1.4077  1.4120  1.4035  1.4037      NZD -0.002700
2020-12-28  1.4073  1.4117  1.4006  1.4081      NZD  0.003135
2020-12-29  1.4100  1.4100  1.3956  1.3984      NZD -0.006889
2020-12-30  1.3988  1.4000  1.3865  1.3873      NZD -0.007938
2020-12-31  1.3881  1.3925  1.3808  1.3914      NZD  0.002955

[5470 rows x 6 columns]

In [280]:
df = df.join(USD_NZD['USD_NZD'])

In [281]:
USD_CHF = investpy.get_currency_cross_historical_data(currency_cross='USD/CHF', from_date=start_date, to_date=end_date)
USD_CHF['USD_CHF'] = (USD_CHF['Close'] - USD_CHF['Close'].shift()) / USD_CHF['Close'].shift()
USD_CHF

              Open    High     Low   Close Currency   USD_CHF
Date
1999-12-30  1.5973  1.6019  1.5916  1.5942      CHF       NaN
1999-12-31  1.5938  1.5963  1.5898  1.5907      CHF -0.002195
2000-01-03  1.5940  1.5978  1.5615  1.5648      CHF -0.016282
2000-01-04  1.5640  1.5702  1.5514  1.5554      CHF -0.006007
2000-01-05  1.5570  1.5593  1.5420  1.5550      CHF -0.000257
...            ...     ...     ...     ...      ...       ...
2020-12-25  0.8908  0.8915  0.8888  0.8889      CHF -0.001909
2020-12-28  0.8894  0.8920  0.8874  0.8884      CHF -0.000562
2020-12-29  0.8893  0.8900  0.8829  0.8843      CHF -0.004615
2020-12-30  0.8841  0.8856  0.8810  0.8810      CHF -0.003732
2020-12-31  0.8812  0.8860  0.8792  0.8851      CHF  0.004654

[5479 rows x 6 columns]

In [282]:
df = df.join(USD_CHF['USD_CHF'])

In [283]:
USD_EUR = investpy.get_currency_cross_historical_data(currency_cross='USD/EUR', from_date=start_date, to_date=end_date)
USD_EUR['USD_EUR'] = (USD_EUR['Close'] - USD_EUR['Close'].shift()) / USD_EUR['Close'].shift()
USD_EUR

              Open    High     Low   Close Currency   USD_EUR
Date
1999-12-30  0.9953  0.9983  0.9910  0.9919      EUR       NaN
1999-12-31  0.9911  0.9960  0.9901  0.9926      EUR  0.000706
2000-01-03  0.9940  0.9949  0.9723  0.9743      EUR -0.018436
2000-01-04  0.9756  0.9793  0.9665  0.9700      EUR -0.004413
2000-01-05  0.9711  0.9721  0.9607  0.9693      EUR -0.000722
...            ...     ...     ...     ...      ...       ...
2020-12-25  0.8206  0.8220  0.8188  0.8191      EUR -0.001706
2020-12-28  0.8195  0.8210  0.8163  0.8184      EUR -0.000855
2020-12-29  0.8185  0.8192  0.8146  0.8163      EUR -0.002566
2020-12-30  0.8164  0.8166  0.8123  0.8131      EUR -0.003920
2020-12-31  0.8131  0.8191  0.8123  0.8185      EUR  0.006641

[5478 rows x 6 columns]

In [284]:
df = df.join(USD_EUR['USD_EUR'])

In [285]:
search_result = investpy.search_quotes(text='US Dollar Index', products=['indices'], n_results=1)
print(search_result)

{"id_": 942611, "name": "US Dollar Index", "symbol": "DXY", "country": "united states", "tag": "/indices/usdollar", "pair_type": "indices", "exchange": "NYSE"}

In [286]:
USDX = investpy.search.search_quotes(text='DXY', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
USDX.rename(columns={'Change Pct': 'USDX'}, inplace=True)
USDX

              Open    High     Low   Close  Volume  USDX
Date
1999-12-30  102.02  102.27  101.76  101.82       0 -0.16
1999-12-31  101.84  102.09  101.74  101.87       0  0.05
2000-01-03  101.67  101.83  100.19  100.22       0 -1.62
2000-01-04  100.55  100.86  100.01  100.41       0  0.19
2000-01-05  100.42  100.47   99.71  100.38       0 -0.03
...            ...     ...     ...     ...     ...   ...
2020-12-25   90.33   90.42   90.21   90.32       0  0.00
2020-12-28   90.22   90.38   89.98   90.34       0  0.02
2020-12-29   90.21   90.23   89.85   89.99       0 -0.38
2020-12-30   89.98   89.98   89.56   89.68       0 -0.35
2020-12-31   89.61   89.98   89.52   89.94       0  0.29

[5431 rows x 6 columns]

In [287]:
df = df.join(USDX['USDX'])

In [288]:
search_result = investpy.search_quotes(text='CAC 40 Futures', n_results=1)
print(search_result)

{"id_": 8853, "name": "CAC 40 Futures", "symbol": "F40", "country": "france", "tag": "/indices/france-40-futures", "pair_type": "indices", "exchange": "Euronext"}

In [289]:
FCHI_F = investpy.search.search_quotes(text='F40', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
FCHI_F.rename(columns={'Change Pct': 'FCHI_F'}, inplace=True)
FCHI_F

              Open    High     Low   Close  Volume  FCHI_F
Date
1999-12-30  5860.0  5979.0  5854.0  5965.2   41006    2.16
2000-01-03  6030.0  6116.5  5877.0  5910.0   38014   -0.93
2000-01-04  5925.0  5949.0  5595.0  5688.0   70095   -3.76
2000-01-05  5575.0  5602.0  5481.0  5485.0   77249   -3.57
2000-01-06  5504.0  5539.5  5403.0  5476.0   58855   -0.16
...            ...     ...     ...     ...     ...     ...
2020-12-24  5544.5  5548.5  5507.5  5314.0    8977   -0.07
2020-12-28  5549.5  5591.5  5538.5  5380.0   36676    1.24
2020-12-29  5603.0  5617.5  5573.5  5403.5   45573    0.44
2020-12-30  5591.5  5617.0  5559.5  5391.0   31391   -0.23
2020-12-31  5564.5  5589.5  5541.5  5343.0   17297   -0.89

[5391 rows x 6 columns]

In [290]:
df = df.join(FCHI_F['FCHI_F'])

In [291]:
search_result = investpy.search_quotes(text='FTSE 100 Futures', n_results=1)
print(search_result)

{"id_": 8838, "name": "FTSE 100 Futures", "symbol": "UK100", "country": "united kingdom", "tag": "/indices/uk-100-futures", "pair_type": "indices", "exchange": "LIFFE"}

In [292]:
FTSE_F = investpy.search.search_quotes(text='FTSE 100 Futures', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
FTSE_F.rename(columns={'Change Pct': 'FTSE_F'}, inplace=True)
FTSE_F

              Open    High     Low   Close  Volume  FTSE_F
Date
2007-02-09  6365.0  6380.0  6357.5  6366.5   53727    0.51
2007-02-12  6345.0  6359.0  6326.5  6337.0   57503   -0.46
2007-02-13  6356.0  6375.0  6325.0  6358.5   54055    0.34
2007-02-14  6381.5  6406.0  6361.0  6399.5   70478    0.64
2007-02-15  6406.0  6421.5  6378.5  6419.5   68912    0.31
...            ...     ...     ...     ...     ...     ...
2020-12-23  6382.0  6476.0  6364.0  6445.5   75758    0.62
2020-12-24  6446.5  6488.5  6427.5  6454.5   29940    0.14
2020-12-29  6518.0  6630.0  6508.0  6560.0   95010    1.63
2020-12-30  6541.5  6574.5  6456.5  6506.5   86808   -0.82
2020-12-31  6471.5  6474.0  6380.5  6420.0   47734   -1.33

[3578 rows x 6 columns]

In [293]:
df = df.join(FTSE_F['FTSE_F'])

In [294]:
search_result = investpy.search_quotes(text='DAX Futures', n_results=1)
print(search_result)

{"id_": 8826, "name": "DAX Futures", "symbol": "DE30", "country": "germany", "tag": "/indices/germany-30-futures", "pair_type": "indices", "exchange": "Eurex"}

In [295]:
GDAXI_F = investpy.search.search_quotes(text='DAX Futures', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
GDAXI_F.rename(columns={'Change Pct': 'GDAXI_F'}, inplace=True)
GDAXI_F

               Open     High      Low    Close  Volume  GDAXI_F
Date
2009-03-06   3713.5   3772.0   3621.0   3656.0  214305    -1.31
2009-03-09   3674.0   3709.0   3588.5   3696.0  193277     1.09
2009-03-10   3681.5   3908.0   3667.0   3885.5  198507     5.13
2009-03-11   3865.5   3995.0   3828.0   3911.5  196011     0.67
2009-03-12   3874.5   4012.0   3801.0   3952.5  201983     1.05
...             ...      ...      ...      ...     ...      ...
2020-12-22  13400.0  13428.0  13218.0  13408.0   38604     1.28
2020-12-23  13412.0  13609.0  13320.0  13584.0   30660     1.31
2020-12-28  13626.0  13815.0  13602.0  13785.0   27399     1.48
2020-12-29  13795.0  13896.0  13679.0  13763.0   37099    -0.16
2020-12-30  13684.0  13788.0  13648.0  13746.0   25782    -0.12

[3050 rows x 6 columns]

In [296]:
df = df.join(GDAXI_F['GDAXI_F'])

In [297]:
search_result = investpy.search_quotes(text='Hang Seng Futures', n_results=1)
print(search_result)

{"id_": 8984, "name": "Hang Seng Futures", "symbol": "HK50", "country": "hong kong", "tag": "/indices/hong-kong-40-futures", "pair_type": "indices", "exchange": "HKEx"}

In [298]:
HSI_F = investpy.search.search_quotes(text='HK50', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
HSI_F.rename(columns={'Change Pct': 'HSI_F'}, inplace=True)
HSI_F

               Open     High      Low    Close  Volume  HSI_F
Date
2009-11-19  22752.5  22853.5  22537.5  22537.5       0  -0.94
2009-11-20  22543.5  22599.5  22357.5  22408.5       0  -0.57
2009-11-22  22422.5  22422.5  22422.5  22422.5       0   0.06
2009-11-23  22514.5  22805.5  22486.5  22772.5       0   1.56
2009-11-24  22785.5  22819.5  22263.5  22476.5       0  -1.30
...             ...      ...      ...      ...     ...    ...
2020-12-24  26324.0  26471.0  26245.0  26410.0   77516   0.32
2020-12-28  26401.0  26545.0  26197.0  26363.0  141257  -0.18
2020-12-29  26355.0  26623.0  26355.0  26595.0   91177   0.88
2020-12-30  26586.0  26966.0  26583.0  26943.0   15835   1.31
2020-12-31  27256.0  27396.0  27176.0  27219.0   73156   1.02

[2811 rows x 6 columns]

In [299]:
df = df.join(HSI_F['HSI_F'])

In [300]:
search_result = investpy.search_quotes(text='Nikkei 225 Futures', n_results=1)
print(search_result)

{"id_": 8859, "name": "Nikkei 225 Futures", "symbol": "JP225", "country": "japan", "tag": "/indices/japan-225-futures", "pair_type": "indices", "exchange": "OSE"}

In [301]:
NIKKEI_F = investpy.search.search_quotes(text='Nikkei 225 Futures', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
NIKKEI_F.rename(columns={'Change Pct': 'NIKKEI_F'}, inplace=True)
NIKKEI_F

               Open     High      Low    Close  Volume  NIKKEI_F
Date
2009-03-04   7200.0   7320.0   7090.0   7270.0   79491      0.83
2009-03-05   7310.0   7540.0   7290.0   7410.0  114638      1.93
2009-03-06   7400.0   7440.0   7150.0   7170.0   91240     -3.24
2009-03-09   7180.0   7230.0   7020.0   7050.0   74473     -1.67
2009-03-10   7050.0   7110.0   6960.0   7040.0   85372     -0.14
...             ...      ...      ...      ...     ...       ...
2020-12-25  26640.0  26650.0  26580.0  26650.0    9158      0.00
2020-12-28  26640.0  26810.0  26610.0  26780.0   22416      0.49
2020-12-29  26810.0  27590.0  26770.0  27570.0   60479      2.95
2020-12-30  27530.0  27690.0  27320.0  27440.0   57936     -0.47
2020-12-31  27470.0  27557.5  27422.5  27487.5       0      0.17

[3114 rows x 6 columns]

In [302]:
df = df.join(NIKKEI_F['NIKKEI_F'])

In [303]:
search_result = investpy.search_quotes(text='KOSPI 200 Futures', n_results=1)
print(search_result)

{"id_": 8987, "name": "KOSPI 200 Futures", "symbol": "KOR200c1", "country": "south korea", "tag": "/indices/korea-200-futures", "pair_type": "indices", "exchange": "KRX"}

In [304]:
KOSPI_F = investpy.search.search_quotes(text='KOR200c1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
KOSPI_F.rename(columns={'Change Pct': 'KOSPI_F'}, inplace=True)
KOSPI_F

              Open    High     Low   Close  Volume  KOSPI_F
Date
2009-11-19  211.85  214.73  211.85  213.83       0     1.09
2009-11-20  213.13  214.63  212.78  213.98       0     0.07
2009-11-22  214.03  214.03  214.03  214.03       0     0.02
2009-11-23  214.53  215.28  213.03  214.08       0     0.02
2009-11-24  214.88  215.10  211.23  212.23       0    -0.86
...            ...     ...     ...     ...     ...      ...
2020-12-23  362.40  365.95  358.90  365.65  302778     1.36
2020-12-24  366.95  374.35  366.35  374.10  299688     2.31
2020-12-28  376.00  378.40  373.40  376.15  299491     0.55
2020-12-29  377.90  381.75  376.15  380.95  322922     1.28
2020-12-30  379.50  390.45  378.40  389.15  360837     2.15

[2814 rows x 6 columns]

In [305]:
df = df.join(KOSPI_F['KOSPI_F'])

In [306]:
search_result = investpy.search_quotes(text='Nasdaq 100 Futures', n_results=1)
print(search_result)

{"id_": 8874, "name": "Nasdaq 100 Futures", "symbol": "NQc1", "country": "united states", "tag": "/indices/nq-100-futures", "pair_type": "indices", "exchange": "CME"}

In [307]:
IXIC_F = investpy.search.search_quotes(text='NQc1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
IXIC_F.rename(columns={'Change Pct': 'IXIC_F'}, inplace=True)
IXIC_F

                Open      High       Low     Close  Volume  IXIC_F
Date
1999-12-30   3744.50   3804.50   3720.00   3734.50    7790   -0.27
1999-12-31   3728.50   3772.00   3722.50   3754.00    3539    0.52
2000-01-03   3750.00   3895.00   3681.00   3844.50   15414    2.41
2000-01-04   3838.50   3842.50   3525.00   3557.50   15455   -7.47
2000-01-05   3557.50   3618.00   3395.00   3512.50   15272   -1.26
...              ...       ...       ...       ...     ...     ...
2020-12-24  12660.75  12724.00  12631.50  12704.50  173464    0.42
2020-12-28  12676.25  12855.50  12655.25  12832.75  346691    1.01
2020-12-29  12845.25  12918.25  12808.25  12841.00  393995    0.06
2020-12-30  12860.75  12909.75  12820.50  12841.50  334304    0.00
2020-12-31  12840.00  12896.00  12796.50  12885.50  280573    0.34

[5387 rows x 6 columns]

In [308]:
df = df.join(IXIC_F['IXIC_F'])

In [309]:
search_result = investpy.search_quotes(text='Dow Jones Futures', n_results=1)
print(search_result)

{"id_": 8873, "name": "Dow Jones Futures", "symbol": "1YMc1", "country": "united states", "tag": "/indices/us-30-futures", "pair_type": "indices", "exchange": "CME"}

In [310]:
DJI_F = investpy.search.search_quotes(text='1YMc1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
DJI_F.rename(columns={'Change Pct': 'DJI_F'}, inplace=True)
DJI_F

               Open     High      Low    Close  Volume  DJI_F
Date
2002-04-08  10278.0  10280.0  10105.0  10267.0    4234  -0.22
2002-04-09  10290.0  10312.0  10204.0  10222.0    4234  -0.44
2002-04-10  10229.0  10399.0  10215.0  10387.0    6189   1.61
2002-04-11  10378.0  10378.0  10158.0  10170.0    6372  -2.09
2002-04-12  10210.0  10240.0  10140.0  10194.0    5387   0.24
...             ...      ...      ...      ...     ...    ...
2020-12-24  30083.0  30151.0  29997.0  30109.0   51433   0.25
2020-12-28  30028.0  30418.0  29956.0  30305.0  111131   0.65
2020-12-29  30318.0  30502.0  30166.0  30238.0  116977  -0.22
2020-12-30  30273.0  30416.0  30211.0  30302.0   96134   0.21
2020-12-31  30328.0  30526.0  30230.0  30497.0   82990   0.64

[4839 rows x 6 columns]

In [311]:
df = df.join(DJI_F['DJI_F'])

In [312]:
search_result = investpy.search_quotes(text='S&P 500 Futures', n_results=1)
print(search_result)

{"id_": 8839, "name": "S&P 500 Futures", "symbol": "ESc1", "country": "united states", "tag": "/indices/us-spx-500-futures", "pair_type": "indices", "exchange": "CME"}

In [313]:
SP_F = investpy.search.search_quotes(text='ESc1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
SP_F.rename(columns={'Change Pct': 'SP_F'}, inplace=True)
SP_F

               Open     High      Low    Close  Volume  SP_F
Date
1999-12-30  1482.50  1499.50  1476.50  1480.75   21025 -0.10
1999-12-31  1480.75  1488.75  1476.00  1484.25   12265  0.24
2000-01-03  1489.00  1496.00  1452.25  1466.75   61938 -1.18
2000-01-04  1467.00  1468.75  1409.50  1411.75   64048 -3.75
2000-01-05  1411.50  1427.25  1385.00  1413.50   73121  0.12
...             ...      ...      ...      ...     ...   ...
2020-12-24  3685.25  3696.00  3678.50  3695.00  369650  0.37
2020-12-28  3682.00  3732.25  3676.00  3727.50  760654  0.88
2020-12-29  3731.00  3747.75  3714.50  3720.00  992636 -0.20
2020-12-30  3724.50  3738.25  3716.50  3724.25  769995  0.11
2020-12-31  3725.00  3753.00  3715.00  3748.75  993343  0.66

[5380 rows x 6 columns]

In [314]:
df = df.join(SP_F['SP_F'])

In [315]:
search_result = investpy.search_quotes(text='Russell Futures', n_results=1)
print(search_result)

{"id_": 1174944, "name": "Russell 2000 Futures", "symbol": "US2000", "country": "united states", "tag": "/indices/smallcap-2000-futures?cid=1174944", "pair_type": "indices", "exchange": "US Indexes"}

In [316]:
RUSSELL_F = investpy.search.search_quotes(text='US2000', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
RUSSELL_F.rename(columns={'Change Pct': 'RUSSELL_F'}, inplace=True)
RUSSELL_F

               Open     High      Low    Close  Volume  RUSSELL_F
Date
2001-01-03   462.49   484.39   459.28   484.39       0       4.74
2001-01-04   484.39   484.39   475.90   477.20       0      -1.48
2001-01-05   477.20   477.31   461.76   463.14       0      -2.95
2001-01-08   463.14   463.14   457.56   461.64       0      -0.32
2001-01-09   461.64   466.40   461.39   463.95       0       0.50
...             ...      ...      ...      ...     ...        ...
2020-12-24  2013.18  2013.97  1997.18  2003.95       0      -0.16
2020-12-28  2013.49  2026.24  1996.25  1996.25       0      -0.38
2020-12-29  1996.73  2001.70  1950.82  1959.36       0      -1.85
2020-12-30  1961.72  1987.78  1961.72  1979.99       0       1.05
2020-12-31  1979.93  1981.41  1963.26  1974.86       0      -0.26

[5037 rows x 6 columns]

In [317]:
df = df.join(RUSSELL_F['RUSSELL_F'])

In [318]:
search_result = investpy.search_quotes(text='US dollar index Futures', products=['fxfutures'], n_results=1)
print(search_result)

{"id_": 8827, "name": "US Dollar Index Futures", "symbol": "DX", "country": "united states", "tag": "/currencies/us-dollar-index", "pair_type": "fxfutures", "exchange": "ICE"}

In [319]:
USDX_F = investpy.search.search_quotes(text='DX', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
USDX_F.rename(columns={'Change Pct': 'USDX_F'}, inplace=True)
USDX_F

               Open     High      Low    Close  Volume  USDX_F
Date
1999-12-30  101.630  101.960  101.450  101.530     161   -0.05
2000-01-03  101.390  101.570   99.850   99.890    2616   -1.62
2000-01-04  100.180  100.370   99.700  100.100     995    0.21
2000-01-05  100.090  100.160   99.400  100.050     889   -0.05
2000-01-06  100.050  100.480   99.600  100.340    1548    0.29
...             ...      ...      ...      ...     ...     ...
2020-12-24   90.185   90.310   90.075   90.250   10826   -0.10
2020-12-28   90.260   90.320   89.895   90.275   18455    0.03
2020-12-29   90.160   90.165   89.785   89.918   17249   -0.40
2020-12-30   89.868   89.900   89.515   89.649       0   -0.30
2020-12-31   89.520   89.965   89.475   89.894   13094    0.27

[5386 rows x 6 columns]

In [320]:
df = df.join(USDX_F['USDX_F'])

In [321]:
df.columns

Index(['Close', 'IXIC', 'GSPC', 'DJI', 'NYSE', 'RUSSELL', 'HSI', 'SSE', 'FCHI',
       'FTSE', 'GDAXI', 'USDY', 'USDGBP', 'USDCAD', 'USDCNY', 'XOM', 'JPM',
       'AAPL', 'MSFT', 'GE', 'JNJ', 'WFC', 'AMZN', 'OIL_BRENT', 'OIL_WTI',
       'Gold_F', 'XAU_USD', 'XAG_USD', 'Gas', 'Silver', 'Copper', 'USD_AUD',
       'USD_NZD', 'USD_CHF', 'USD_EUR', 'USDX', 'FCHI_F', 'FTSE_F', 'GDAXI_F',
       'HSI_F', 'NIKKEI_F', 'KOSPI_F', 'IXIC_F', 'DJI_F', 'SP_F', 'RUSSELL_F',
       'USDX_F'],
      dtype='object')

In [322]:
len(df.columns)

47

In [329]:
df

,Close,IXIC,GSPC,DJI,NYSE,RUSSELL,HSI,SSE,FCHI,FTSE,...,FTSE_F,GDAXI_F,HSI_F,NIKKEI_F,KOSPI_F,IXIC_F,DJI_F,SP_F,RUSSELL_F,USDX_F
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,69.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.52,NaN,0.24,NaN,NaN
2000-01-03,66.812500,-0.033454,-0.009549,-0.012142,-0.016578,-0.012142,-0.998310,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.41,NaN,-1.18,NaN,-1.62
2000-01-04,64.312500,-0.037418,-0.038345,-0.031662,-0.032290,-0.031662,594.701356,NaN,-0.041463,NaN,...,NaN,NaN,NaN,NaN,NaN,-7.47,NaN,-3.75,NaN,0.21
2000-01-05,63.000000,-0.020408,0.001922,0.011348,0.003556,0.011348,-0.998527,0.002354,-0.033907,-0.019502,...,NaN,NaN,NaN,NaN,NaN,-1.26,NaN,0.12,NaN,-0.05
2000-01-06,63.687500,0.010913,0.000956,0.011742,0.010417,0.011742,601.512939,0.038491,-0.005400,-0.013571,...,NaN,NaN,NaN,NaN,NaN,-5.69,NaN,-0.67,NaN,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,143.220001,-0.006796,0.000746,0.003808,0.005396,0.003808,0.008572,0.007608,0.011109,0.012390,...,0.62,1.31,0.75,0.53,1.36,-0.46,0.41,0.12,0.87,-0.23
2020-12-24,143.500000,0.001955,0.003537,0.002327,-0.001120,0.002327,0.001651,-0.005679,-0.001009,0.000970,...,0.14,NaN,0.32,0.64,2.31,0.42,0.25,0.37,-0.16,-0.10
2020-12-28,145.220001,0.011986,0.008723,0.006758,0.001618,0.006758,-0.002729,0.000213,0.012019,NaN,...,NaN,1.48,-0.18,0.49,0.55,1.01,0.65,0.88,-0.38,0.03
2020-12-29,144.300003,-0.006335,-0.002227,-0.002246,-0.000545,-0.002246,0.009649,-0.005372,0.004189,0.015472,...,1.63,-0.16,0.88,2.95,1.28,0.06,-0.22,-0.20,-1.85,-0.40
2020-12-30,144.179993,-0.000832,0.001342,0.002436,0.005526,0.002436,0.021778,0.010481,-0.002206,-0.007103,...,-0.82,-0.12,1.31,-0.47,2.15,0.00,0.21,0.11,1.05,-0.30

In [330]:
# Fred API key: ab766afb0df13dba8492403a7865f852
fred = Fred(api_key='ab766afb0df13dba8492403a7865f852')
DTB4WK = fred.get_series('DTB4WK', observation_start=start_date, observation_end=end_date)
DTB4WK.index.name = 'Date'
DTB4WK.rename('DTB4WK', inplace=True)
df = df.join(DTB4WK)
DTB4WK

Date
2001-07-31    3.61
2001-08-01    3.60
2001-08-02    3.60
2001-08-03    3.58
2001-08-06    3.58
              ...
2020-12-25     NaN
2020-12-28    0.09
2020-12-29    0.08
2020-12-30    0.06
2020-12-31    0.08
Name: DTB4WK, Length: 5068, dtype: float64

In [331]:
DTB3 = fred.get_series('DTB3', observation_start=start_date, observation_end=end_date)
DTB3.index.name = 'Date'
DTB3.rename('DTB3', inplace=True)
df = df.join(DTB3)
DTB3

Date
1999-12-30    5.07
1999-12-31    5.17
2000-01-03    5.27
2000-01-04    5.27
2000-01-05    5.28
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.10
2020-12-30    0.08
2020-12-31    0.09
Name: DTB3, Length: 5481, dtype: float64

In [332]:
DTB6 = fred.get_series('DTB6', observation_start=start_date, observation_end=end_date)
DTB6.index.name = 'Date'
DTB6.rename('DTB6', inplace=True)
df = df.join(DTB6)
DTB6

Date
1999-12-30    5.43
1999-12-31    5.49
2000-01-03    5.55
2000-01-04    5.50
2000-01-05    5.49
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.12
2020-12-30    0.09
2020-12-31    0.09
Name: DTB6, Length: 5481, dtype: float64

In [333]:
DGS5 = fred.get_series('DGS5', observation_start=start_date, observation_end=end_date)
DGS5.index.name = 'Date'
DGS5.rename('DGS5', inplace=True)
df = df.join(DGS5)
DGS5

Date
1999-12-30    6.30
1999-12-31    6.36
2000-01-03    6.50
2000-01-04    6.40
2000-01-05    6.51
              ...
2020-12-25     NaN
2020-12-28    0.38
2020-12-29    0.37
2020-12-30    0.37
2020-12-31    0.36
Name: DGS5, Length: 5481, dtype: float64

In [334]:
DGS10 = fred.get_series('DGS10', observation_start=start_date, observation_end=end_date)
DGS10.index.name = 'Date'
DGS10.rename('DGS10', inplace=True)
df = df.join(DGS10)
DGS10

Date
1999-12-30    6.39
1999-12-31    6.45
2000-01-03    6.58
2000-01-04    6.49
2000-01-05    6.62
              ...
2020-12-25     NaN
2020-12-28    0.94
2020-12-29    0.94
2020-12-30    0.93
2020-12-31    0.93
Name: DGS10, Length: 5481, dtype: float64

In [335]:
data = pd.read_csv("https://www.federalreserve.gov/datadownload/Output.aspx?rel=H15&series=bf17364827e38702b42a58cf8eaa3f78&lastobs=&from=&to=&filetype=csv&label=include&layout=seriescolumn&type=package")
data = data.iloc[5:,:]
data

,Series Description,"Market yield on U.S. Treasury securities at 1-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 3-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 6-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 1-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 2-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 3-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 5-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 7-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 10-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 20-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 30-year constant maturity, quoted on investment basis"
5,1962-01-02,NaN,NaN,NaN,3.22,NaN,3.70,3.88,NaN,4.06,4.07,NaN
6,1962-01-03,NaN,NaN,NaN,3.24,NaN,3.70,3.87,NaN,4.03,4.07,NaN
7,1962-01-04,NaN,NaN,NaN,3.24,NaN,3.69,3.86,NaN,3.99,4.06,NaN
8,1962-01-05,NaN,NaN,NaN,3.26,NaN,3.71,3.89,NaN,4.02,4.07,NaN
9,1962-01-08,NaN,NaN,NaN,3.31,NaN,3.71,3.91,NaN,4.03,4.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15750,2022-05-10,0.57,0.89,1.44,2.01,2.62,2.81,2.91,2.99,2.99,3.31,3.12
15751,2022-05-11,0.59,0.91,1.43,1.99,2.66,2.81,2.89,2.94,2.91,3.25,3.05
15752,2022-05-12,0.61,0.96,1.44,1.96,2.56,2.73,2.81,2.86,2.84,3.22,3.00
15753,2022-05-13,0.67,1.03,1.47,2.04,2.61,2.79,2.89,2.95,2.93,3.32,3.10
15754,2022-05-16,0.64,1.07,1.54,2.07,2.58,2.75,2.83,2.89,2.88,3.30,3.09

In [336]:
data['Series Description'] = pd.to_datetime(data['Series Description'])

In [337]:
CTB3M = pd.Series(data['Market yield on U.S. Treasury securities at 3-month   constant maturity, quoted on investment basis'])
CTB3M.reset_index(drop=True, inplace=True)
CTB3M.index = data['Series Description'].values
CTB3M = CTB3M.dropna()
CTB3M = CTB3M[CTB3M.values != 'ND'].astype(float)
CTB3M = CTB3M - CTB3M.shift()
CTB3M = CTB3M[(CTB3M.index >= start_date) & (CTB3M.index <= end_date)]
CTB3M.index.name = 'Date'
CTB3M.rename('CTB3M', inplace=True)
df = df.join(CTB3M)
CTB3M

Date
1999-12-30   -0.01
1999-12-31    0.11
2000-01-03    0.15
2000-01-04   -0.05
2000-01-05    0.01
              ...
2020-12-24    0.00
2020-12-28    0.02
2020-12-29   -0.01
2020-12-30   -0.02
2020-12-31    0.01
Name: CTB3M, Length: 5255, dtype: float64

In [338]:
CTB6M = pd.Series(data['Market yield on U.S. Treasury securities at 6-month   constant maturity, quoted on investment basis'])
CTB6M.reset_index(drop=True, inplace=True)
CTB6M.index = data['Series Description'].values
CTB6M = CTB6M.dropna()
CTB6M = CTB6M[CTB6M.values != 'ND'].astype(float)
CTB6M = CTB6M - CTB6M.shift()
CTB6M = CTB6M[(CTB6M.index >= start_date) & (CTB6M.index <= end_date)]
CTB6M.index.name = 'Date'
CTB6M.rename('CTB6M', inplace=True)
df = df.join(CTB6M)
CTB6M

Date
1999-12-30    0.00
1999-12-31    0.06
2000-01-03    0.07
2000-01-04   -0.06
2000-01-05   -0.01
              ...
2020-12-24    0.00
2020-12-28    0.02
2020-12-29    0.01
2020-12-30   -0.03
2020-12-31    0.00
Name: CTB6M, Length: 5255, dtype: float64

In [339]:
CTB1Y = pd.Series(data['Market yield on U.S. Treasury securities at 1-year   constant maturity, quoted on investment basis'])
CTB1Y.reset_index(drop=True, inplace=True)
CTB1Y.index = data['Series Description'].values
CTB1Y = CTB1Y.dropna()
CTB1Y = CTB1Y[CTB1Y.values != 'ND'].astype(float)
CTB1Y = CTB1Y - CTB1Y.shift()
CTB1Y = CTB1Y[(CTB1Y.index >= start_date) & (CTB1Y.index <= end_date)]
CTB1Y.index.name = 'Date'
CTB1Y.rename('CTB1Y', inplace=True)
df = df.join(CTB1Y)
CTB1Y

Date
1999-12-30    0.00
1999-12-31    0.05
2000-01-03    0.11
2000-01-04   -0.09
2000-01-05    0.05
              ...
2020-12-24    0.01
2020-12-28    0.01
2020-12-29    0.00
2020-12-30    0.01
2020-12-31   -0.02
Name: CTB1Y, Length: 5255, dtype: float64

In [340]:
DAAA = fred.get_series('DAAA', observation_start=start_date, observation_end=end_date)
DAAA.index.name = 'Date'
DAAA.rename('DAAA', inplace=True)
df = df.join(DAAA)
DAAA

Date
1999-12-30    7.61
1999-12-31    7.64
2000-01-03    7.75
2000-01-04    7.69
2000-01-05    7.78
              ...
2020-12-25     NaN
2020-12-28    2.25
2020-12-29    2.25
2020-12-30    2.22
2020-12-31    2.23
Name: DAAA, Length: 5481, dtype: float64

In [341]:
DBAA = fred.get_series('DBAA', observation_start=start_date, observation_end=end_date)
DBAA.index.name = 'Date'
DBAA.rename('DBAA', inplace=True)
df = df.join(DBAA)
DBAA

Date
1999-12-30    8.23
1999-12-31    8.18
2000-01-03    8.27
2000-01-04    8.21
2000-01-05    8.29
              ...
2020-12-25     NaN
2020-12-28    3.16
2020-12-29    3.16
2020-12-30    3.13
2020-12-31    3.11
Name: DBAA, Length: 5481, dtype: float64

In [342]:
TE1 = DGS10 - DTB4WK
TE1.index.name = 'Date'
TE1.rename('TE1', inplace=True)
df = df.join(TE1)
TE1

Date
1999-12-30     NaN
1999-12-31     NaN
2000-01-03     NaN
2000-01-04     NaN
2000-01-05     NaN
              ...
2020-12-25     NaN
2020-12-28    0.85
2020-12-29    0.86
2020-12-30    0.87
2020-12-31    0.85
Name: TE1, Length: 5481, dtype: float64

In [343]:
TE2 = DGS10 - DTB3
TE2.index.name = 'Date'
TE2.rename('TE2', inplace=True)
df = df.join(TE2)
TE2

Date
1999-12-30    1.32
1999-12-31    1.28
2000-01-03    1.31
2000-01-04    1.22
2000-01-05    1.34
              ...
2020-12-25     NaN
2020-12-28    0.83
2020-12-29    0.84
2020-12-30    0.85
2020-12-31    0.84
Name: TE2, Length: 5481, dtype: float64

In [344]:
TE3 = DGS10 - DTB6
TE3.index.name = 'Date'
TE3.rename('TE3', inplace=True)
df = df.join(TE3)
TE3

Date
1999-12-30    0.96
1999-12-31    0.96
2000-01-03    1.03
2000-01-04    0.99
2000-01-05    1.13
              ...
2020-12-25     NaN
2020-12-28    0.83
2020-12-29    0.82
2020-12-30    0.84
2020-12-31    0.84
Name: TE3, Length: 5481, dtype: float64

In [345]:
TE5 = DTB3 - DTB4WK
TE5.index.name = 'Date'
TE5.rename('TE5', inplace=True)
df = df.join(TE5)
TE5

Date
1999-12-30     NaN
1999-12-31     NaN
2000-01-03     NaN
2000-01-04     NaN
2000-01-05     NaN
              ...
2020-12-25     NaN
2020-12-28    0.02
2020-12-29    0.02
2020-12-30    0.02
2020-12-31    0.01
Name: TE5, Length: 5481, dtype: float64

In [346]:
TE6 = DTB6 - DTB4WK
TE6.index.name = 'Date'
TE6.rename('TE6', inplace=True)
df = df.join(TE6)
TE6

Date
1999-12-30     NaN
1999-12-31     NaN
2000-01-03     NaN
2000-01-04     NaN
2000-01-05     NaN
              ...
2020-12-25     NaN
2020-12-28    0.02
2020-12-29    0.04
2020-12-30    0.03
2020-12-31    0.01
Name: TE6, Length: 5481, dtype: float64

In [347]:
DE1 = DBAA - BAAA
DE1.index.name = 'Date'
DE1.rename('DE1', inplace=True)
df = df.join(DE1)
DE1

Date
1999-12-30 00:00:00   NaN
1999-12-31 00:00:00   NaN
2000-01-03 00:00:00   NaN
2000-01-04 00:00:00   NaN
2000-01-05 00:00:00   NaN
                       ..
5278                  NaN
5279                  NaN
5280                  NaN
5281                  NaN
5282                  NaN
Name: DE1, Length: 10764, dtype: float64

In [348]:
DE2 = DBAA - DGS10
DE2.index.name = 'Date'
DE2.rename('DE2', inplace=True)
df = df.join(DE2)
DE2

Date
1999-12-30    1.84
1999-12-31    1.73
2000-01-03    1.69
2000-01-04    1.72
2000-01-05    1.67
              ...
2020-12-25     NaN
2020-12-28    2.22
2020-12-29    2.22
2020-12-30    2.20
2020-12-31    2.18
Name: DE2, Length: 5481, dtype: float64

In [349]:
DE4 = DBAA - DTB6
DE4.index.name = 'Date'
DE4.rename('DE4', inplace=True)
df = df.join(DE4)
DE4

Date
1999-12-30    2.80
1999-12-31    2.69
2000-01-03    2.72
2000-01-04    2.71
2000-01-05    2.80
              ...
2020-12-25     NaN
2020-12-28    3.05
2020-12-29    3.04
2020-12-30    3.04
2020-12-31    3.02
Name: DE4, Length: 5481, dtype: float64

In [350]:
DE5 = DBAA - DTB3
DE5.index.name = 'Date'
DE5.rename('DE5', inplace=True)
df = df.join(DE5)
DE5

Date
1999-12-30    3.16
1999-12-31    3.01
2000-01-03    3.00
2000-01-04    2.94
2000-01-05    3.01
              ...
2020-12-25     NaN
2020-12-28    3.05
2020-12-29    3.06
2020-12-30    3.05
2020-12-31    3.02
Name: DE5, Length: 5481, dtype: float64

In [351]:
DE6 = DBAA - DTB4WK
DE6.index.name = 'Date'
DE6.rename('DE6', inplace=True)
df = df.join(DE6)
DE6

Date
1999-12-30     NaN
1999-12-31     NaN
2000-01-03     NaN
2000-01-04     NaN
2000-01-05     NaN
              ...
2020-12-25     NaN
2020-12-28    3.07
2020-12-29    3.08
2020-12-30    3.07
2020-12-31    3.03
Name: DE6, Length: 5481, dtype: float64

In [356]:
data = pd.read_excel("https://www.eia.gov/dnav/pet/hist_xls/RWTCd.xls", sheet_name = 'Data 1', skiprows = 2)
data = data.set_index('Date')

In [357]:
Oil = (data - data.shift()) / data.shift() # need SPY dates as control
Oil = Oil[(Oil.index >= start_date) & (Oil.index <=end_date)]
Oil.rename(columns={'Cushing, OK WTI Spot Price FOB (Dollars per Barrel)' : 'Oil'}, inplace=True)
#OIL.rename('Relative Change', inplace=True)
Oil

                 Oil
Date
1999-12-30 -0.024612
2000-01-04 -0.007764
2000-01-05 -0.035603
2000-01-06  0.005680
2000-01-07  0.000000
...              ...
2020-12-24  0.005006
2020-12-28 -0.014114
2020-12-29  0.007368
2020-12-30  0.008150
2020-12-31  0.002280

[5272 rows x 1 columns]

In [359]:
df = df.join(Oil)

In [363]:
Gold = pd.read_csv('Gold.csv')
Gold = Gold.iloc[::-1][['Date', 'Change %']]
Gold.set_index('Date', inplace=True)
Gold.rename(columns={'Change %': 'Gold'}, inplace=True)
Gold.index = pd.to_datetime(Gold.index)
#Gold = Gold.set_index('Date')
Gold

              Gold
Date
2000-01-03   0.26%
2000-01-04  -2.27%
2000-01-05  -0.51%
2000-01-06   0.08%
2000-01-07   0.18%
...            ...
2020-12-25  -0.04%
2020-12-28  -0.25%
2020-12-29   0.36%
2020-12-30   0.82%
2020-12-31   0.16%

[5468 rows x 1 columns]

In [364]:
df = df.join(Gold)

In [365]:
df.columns

Index(['Close', 'IXIC', 'GSPC', 'DJI', 'NYSE', 'RUSSELL', 'HSI', 'SSE', 'FCHI',
       'FTSE', 'GDAXI', 'USDY', 'USDGBP', 'USDCAD', 'USDCNY', 'XOM', 'JPM',
       'AAPL', 'MSFT', 'GE', 'JNJ', 'WFC', 'AMZN', 'OIL_BRENT', 'OIL_WTI',
       'Gold_F', 'XAU_USD', 'XAG_USD', 'Gas', 'Silver', 'Copper', 'USD_AUD',
       'USD_NZD', 'USD_CHF', 'USD_EUR', 'USDX', 'FCHI_F', 'FTSE_F', 'GDAXI_F',
       'HSI_F', 'NIKKEI_F', 'KOSPI_F', 'IXIC_F', 'DJI_F', 'SP_F', 'RUSSELL_F',
       'USDX_F', 'DTB4WK', 'DTB3', 'DTB6', 'DGS5', 'DGS10', 'CTB3M', 'CTB6M',
       'CTB1Y', 'DAAA', 'DBAA', 'TE1', 'TE2', 'TE3', 'TE5', 'TE6', 'DE1',
       'DE2', 'DE4', 'DE5', 'DE6', 'Oil', 'Gold'],
      dtype='object')

In [366]:
df.index

Index([2000-01-03 00:00:00, 2000-01-04 00:00:00, 2000-01-05 00:00:00,
       2000-01-06 00:00:00, 2000-01-07 00:00:00, 2000-01-10 00:00:00,
       2000-01-11 00:00:00, 2000-01-12 00:00:00, 2000-01-13 00:00:00,
       2000-01-14 00:00:00,
       ...
       2020-12-16 00:00:00, 2020-12-17 00:00:00, 2020-12-18 00:00:00,
       2020-12-21 00:00:00, 2020-12-22 00:00:00, 2020-12-23 00:00:00,
       2020-12-24 00:00:00, 2020-12-28 00:00:00, 2020-12-29 00:00:00,
       2020-12-30 00:00:00],
      dtype='object', name='Date', length=5283)

In [353]:
df = df.iloc[1:, :]

In [367]:
df.to_csv('common_features.csv')

In [368]:
df.columns

Index(['Close', 'IXIC', 'GSPC', 'DJI', 'NYSE', 'RUSSELL', 'HSI', 'SSE', 'FCHI',
       'FTSE', 'GDAXI', 'USDY', 'USDGBP', 'USDCAD', 'USDCNY', 'XOM', 'JPM',
       'AAPL', 'MSFT', 'GE', 'JNJ', 'WFC', 'AMZN', 'OIL_BRENT', 'OIL_WTI',
       'Gold_F', 'XAU_USD', 'XAG_USD', 'Gas', 'Silver', 'Copper', 'USD_AUD',
       'USD_NZD', 'USD_CHF', 'USD_EUR', 'USDX', 'FCHI_F', 'FTSE_F', 'GDAXI_F',
       'HSI_F', 'NIKKEI_F', 'KOSPI_F', 'IXIC_F', 'DJI_F', 'SP_F', 'RUSSELL_F',
       'USDX_F', 'DTB4WK', 'DTB3', 'DTB6', 'DGS5', 'DGS10', 'CTB3M', 'CTB6M',
       'CTB1Y', 'DAAA', 'DBAA', 'TE1', 'TE2', 'TE3', 'TE5', 'TE6', 'DE1',
       'DE2', 'DE4', 'DE5', 'DE6', 'Oil', 'Gold'],
      dtype='object')

In [371]:
df['USDGBP']

Date
2000-01-03         NaN
2000-01-04         NaN
2000-01-05         NaN
2000-01-06         NaN
2000-01-07         NaN
                ...
2020-12-23    0.003739
2020-12-24   -0.007839
2020-12-28   -0.001502
2020-12-29    0.007899
2020-12-30   -0.002510
Name: USDGBP, Length: 5283, dtype: float64

In [369]:
len(df.columns)

69

In [370]:
df.shape

(5283, 69)