In [132]:
import numpy as np 
import pandas as pd 
import yfinance as yf
from fredapi import Fred
import pandas as pd

In [133]:
start_date="2000-01-01"
end_date="2020-12-31"

df = yf.download("SPY", start=start_date, end=end_date)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,146.843750,147.500000,146.250000,146.875000,97.509476,3172700
2000-01-03,148.250000,148.250000,143.875000,145.437500,96.555084,8164300
2000-01-04,143.531250,144.062500,139.640625,139.750000,92.779175,8089800
2000-01-05,139.937500,141.531250,137.250000,140.000000,92.945175,12177900
2000-01-06,139.625000,141.500000,137.750000,137.750000,91.451393,6227200
...,...,...,...,...,...,...
2020-12-23,368.279999,369.619995,367.220001,367.570007,361.611481,46201400
2020-12-24,368.079987,369.029999,367.450012,369.000000,363.018250,26457900
2020-12-28,371.739990,372.589996,371.070007,372.170013,366.136841,39000400
2020-12-29,373.809998,374.000000,370.829987,371.459991,365.438324,53680500
2020-12-30,372.339996,373.100006,371.570007,371.989990,365.959747,49455300

In [134]:
#Calculate features

#1 Date_SPY

#2 Close_SPY

#3 SPYt
df['SPYt']=df['Adj Close'].pct_change()
# df_SPY['SPYt']=df_SPY['Adj Close'].resample('M').ffill().pct_change()

#4 SPYt1
df['Adj Close_l1'] = df['Adj Close'].shift(1)
df['SPYt1']=df['Adj Close_l1'].pct_change()

#5 SPYt2
df['Adj Close_l2'] = df['Adj Close'].shift(2)
df['SPYt2']=df['Adj Close_l2'].pct_change()

#6 SPYt3
df['Adj Close_l3'] = df['Adj Close'].shift(3)
df['SPYt3']=df['Adj Close_l3'].pct_change()

#7 RDP5
df['Adj Close_l5'] = df['Adj Close'].shift(5)
df['RDP5']=(df['Adj Close']-df['Adj Close_l5'])/df['Adj Close_l5']*100

#8 RDP10
df['Adj Close_l10'] = df['Adj Close'].shift(10)
df['RDP10']=(df['Adj Close']-df['Adj Close_l10'])/df['Adj Close_l10']*100

#9 RDP15
df['Adj Close_l15'] = df['Adj Close'].shift(15)
df['RDP15']=(df['Adj Close']-df['Adj Close_l15'])/df['Adj Close_l15']*100

#10 RDP20
df['Adj Close_l20'] = df['Adj Close'].shift(20)
df['RDP20']=(df['Adj Close']-df['Adj Close_l20'])/df['Adj Close_l20']*100

#11 EMA10
def calculate_ema(prices, days, smoothing=2):
    ema = []
    for num_day in range(days-1):
        ema.append('N/A')        
    ema.append(sum(prices[:days]) / days)
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema
df['EMA10']=calculate_ema(df['Adj Close'], 10)

#12 EMA20
df['EMA20']=calculate_ema(df['Adj Close'], 20)

#13 EMA50
df['EMA50']=calculate_ema(df['Adj Close'], 50)

#14 EMA200
df['EMA200']=calculate_ema(df['Adj Close'], 200)

#15 HSI
df_HSI = yf.download("HSI", start=start_date, end=end_date)
df['HSI']=df_HSI['Adj Close'].pct_change()

#16 SSE*
df_SSE = yf.download("000001.SS", start=start_date, end=end_date)
df['SSE']=df_SSE['Adj Close'].pct_change()

#17 FCHI*
df_FCHI = yf.download("^FCHI", start=start_date, end=end_date)
df['FCHI']=df_FCHI['Adj Close'].pct_change()

#18 FTSE*
df_FTSE = yf.download("^FTSE", start=start_date, end=end_date)
df['FTSE']=df_FTSE['Adj Close'].pct_change()

#19 GDAXI*
df_GDAXI = yf.download("^GDAXI", start=start_date, end=end_date)
df['GDAXI']=df_GDAXI['Adj Close'].pct_change()

#20 DJI
df_DJI = yf.download("DJI", start=start_date, end=end_date)
df['DJI']=df_DJI['Adj Close'].pct_change()

#21 IXIC*
df_IXIC = yf.download("^IXIC", start=start_date, end=end_date)
df['IXIC']=df_IXIC['Adj Close'].pct_change()

#22 V
df['V']=df['Volume'].pct_change()

#23 AAPL
df_AAPL = yf.download("AAPL", start=start_date, end=end_date)
df['AAPL']=df_AAPL['Adj Close'].pct_change()

#24 MSFT
df_MSFT = yf.download("MSFT", start=start_date, end=end_date)
df['MSFT']=df_MSFT['Adj Close'].pct_change()

#25 XOM
df_XOM = yf.download("XOM", start=start_date, end=end_date)
df['XOM']=df_XOM['Adj Close'].pct_change()

#26 GE
df_GE = yf.download("GE", start=start_date, end=end_date)
df['GE']=df_GE['Adj Close'].pct_change()

#27 JNJ
df_JNJ = yf.download("JNJ", start=start_date, end=end_date)
df['JNJ']=df_JNJ['Adj Close'].pct_change()

#28 WFC
df_WFC = yf.download("WFC", start=start_date, end=end_date)
df['WFC']=df_WFC['Adj Close'].pct_change()

#29 AMZN
df_AMZN = yf.download("AMZN", start=start_date, end=end_date)
df['AMZN']=df_AMZN['Adj Close'].pct_change()

#30 JPM
df_JPM = yf.download("JPM", start=start_date, end=end_date)
df['JPM']=df_JPM['Adj Close'].pct_change()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [135]:
# Fred API key: ab766afb0df13dba8492403a7865f852
fred = Fred(api_key='ab766afb0df13dba8492403a7865f852')
T1 = fred.get_series('DTB4WK', observation_start=start_date, observation_end=end_date)
T1

2001-07-31    3.61
2001-08-01    3.60
2001-08-02    3.60
2001-08-03    3.58
2001-08-06    3.58
              ...
2020-12-25     NaN
2020-12-28    0.09
2020-12-29    0.08
2020-12-30    0.06
2020-12-31    0.08
Length: 5068, dtype: float64

In [136]:
T3 = fred.get_series('DTB3', observation_start=start_date, observation_end=end_date)
T3

2000-01-03    5.27
2000-01-04    5.27
2000-01-05    5.28
2000-01-06    5.25
2000-01-07    5.22
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.10
2020-12-30    0.08
2020-12-31    0.09
Length: 5479, dtype: float64

In [137]:
T6 = fred.get_series('DTB6', observation_start=start_date, observation_end=end_date)
T6

2000-01-03    5.55
2000-01-04    5.50
2000-01-05    5.49
2000-01-06    5.44
2000-01-07    5.42
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.12
2020-12-30    0.09
2020-12-31    0.09
Length: 5479, dtype: float64

In [138]:
T60 = fred.get_series('DGS5', observation_start=start_date, observation_end=end_date)
T60

2000-01-03    6.50
2000-01-04    6.40
2000-01-05    6.51
2000-01-06    6.46
2000-01-07    6.42
              ...
2020-12-25     NaN
2020-12-28    0.38
2020-12-29    0.37
2020-12-30    0.37
2020-12-31    0.36
Length: 5479, dtype: float64

In [139]:
T120 = fred.get_series('DGS10', observation_start=start_date, observation_end=end_date)
T120

2000-01-03    6.58
2000-01-04    6.49
2000-01-05    6.62
2000-01-06    6.57
2000-01-07    6.52
              ...
2020-12-25     NaN
2020-12-28    0.94
2020-12-29    0.94
2020-12-30    0.93
2020-12-31    0.93
Length: 5479, dtype: float64

In [140]:
CD1 = fred.get_series('DCD1M', observation_start=start_date, observation_end=end_date)
CD1

2000-01-03    5.70
2000-01-04    5.72
2000-01-05    5.70
2000-01-06    5.70
2000-01-07    5.69
              ...
2013-06-24    0.16
2013-06-25    0.16
2013-06-26    0.16
2013-06-27    0.16
2013-06-28    0.17
Length: 3520, dtype: float64

In [141]:
CD3 = fred.get_series('DCD90', observation_start=start_date, observation_end=end_date)
CD3

2000-01-03    5.89
2000-01-04    5.93
2000-01-05    5.94
2000-01-06    5.94
2000-01-07    5.96
              ...
2013-06-24    0.19
2013-06-25    0.20
2013-06-26    0.20
2013-06-27    0.20
2013-06-28    0.22
Length: 3520, dtype: float64

In [142]:
CD6 = fred.get_series('DCD6M', observation_start=start_date, observation_end=end_date)
CD6

2000-01-03    6.05
2000-01-04    6.14
2000-01-05    6.13
2000-01-06    6.15
2000-01-07    6.17
              ...
2013-06-24    0.26
2013-06-25    0.27
2013-06-26    0.27
2013-06-27    0.27
2013-06-28    0.27
Length: 3520, dtype: float64

In [ ]:
data = pd.read_csv("https://www.federalreserve.gov/datadownload/Output.aspx?rel=H15&series=bf17364827e38702b42a58cf8eaa3f78&lastobs=&from=&to=&filetype=csv&label=include&layout=seriescolumn&type=package")
data = data.iloc[5:,:]
data

In [ ]:
CTB3M = pd.Series(data['Market yield on U.S. Treasury securities at 3-month   constant maturity, quoted on investment basis'])
CTB3M.reset_index(drop=True, inplace=True)
CTB3M.index = data['Series Description'].values
CTB3M = CTB3M.dropna()
CTB3M = CTB3M[CTB3M.values != 'ND'].astype(float)
CTB3M = CTB3M[(CTB3M.index >= start_date) & (CTB3M.index <= end_date)]
CTB3M = CTB3M - CTB3M.shift()
CTB3M

In [ ]:
CTB6M = pd.Series(data['Market yield on U.S. Treasury securities at 6-month   constant maturity, quoted on investment basis'])
CTB6M.reset_index(drop=True, inplace=True)
CTB6M.index = data['Series Description'].values
CTB6M = CTB6M.dropna()
CTB6M = CTB6M[CTB6M.values != 'ND'].astype(float)
CTB6M = CTB6M[(CTB6M.index >= start_date) & (CTB6M.index <= end_date)]
CTB6M = CTB6M - CTB6M.shift()
CTB6M

In [ ]:
CTB1Y = pd.Series(data['Market yield on U.S. Treasury securities at 1-year   constant maturity, quoted on investment basis'])
CTB1Y.reset_index(drop=True, inplace=True)
CTB1Y.index = data['Series Description'].values
CTB1Y = CTB1Y.dropna()
CTB1Y = CTB1Y[CTB1Y.values != 'ND'].astype(float)
CTB1Y = CTB1Y[(CTB1Y.index >= start_date) & (CTB1Y.index <= end_date)]
CTB1Y = CTB1Y - CTB1Y.shift()
CTB1Y

In [ ]:
CTB5Y = pd.Series(data['Market yield on U.S. Treasury securities at 5-year   constant maturity, quoted on investment basis'])
CTB5Y.reset_index(drop=True, inplace=True)
CTB5Y.index = data['Series Description'].values
CTB5Y = CTB5Y.dropna()
CTB5Y = CTB5Y[CTB5Y.values != 'ND'].astype(float)
CTB5Y = CTB5Y[(CTB5Y.index >= start_date) & (CTB5Y.index <= end_date)]
CTB5Y = CTB5Y - CTB5Y.shift()
CTB5Y

In [ ]:
CTB10Y = pd.Series(data['Market yield on U.S. Treasury securities at 10-year   constant maturity, quoted on investment basis'])
CTB10Y.reset_index(drop=True, inplace=True)
CTB10Y.index = data['Series Description'].values
CTB10Y = CTB10Y.dropna()
CTB10Y = CTB10Y[CTB10Y.values != 'ND'].astype(float)
CTB10Y = CTB10Y[(CTB10Y.index >= start_date) & (CTB10Y.index <= end_date)]
CTB10Y = CTB10Y - CTB10Y.shift()
CTB10Y

In [ ]:
AAA = fred.get_series('DAAA', observation_start=start_date, observation_end=end_date)
AAA

In [ ]:
BAA = fred.get_series('DBAA', observation_start=start_date, observation_end=end_date)
BAA

In [ ]:
def generate_feature(f1, f2):
    '''
    compare and choose latest start date and earliest end date
    '''
    start_date = max(f1.index[0], f2.index[0])
    end_date = min(f1.index[-1], f2.index[-1])
    feature = f1[(f1.index >= start_date) & (f1.index <= end_date)] \
        - f2[(f2.index >= start_date) & (f2.index <= end_date)]
    return feature

In [ ]:
TE1 = generate_feature(T120, T1)
TE1

In [ ]:
TE2 = generate_feature(T120, T3)
TE2

In [ ]:
TE3 = generate_feature(T120, T6)
TE3

In [ ]:
TE5 = generate_feature(T3, T1)
TE5

In [ ]:
TE6 = generate_feature(T6, T1)
TE6

In [ ]:
DE1 = generate_feature(BAA, AAA)
DE1

In [ ]:
DE2 = generate_feature(BAA, T120)
DE2

In [ ]:
DE4 = generate_feature(BAA, T6)
DE4

In [ ]:
DE5 = generate_feature(BAA, T3)
DE5

In [ ]:
DE6 = generate_feature(BAA, T1)
DE6

In [ ]:
DE7 = generate_feature(CD6, T6)
DE7

In [ ]:
data = pd.read_excel("https://www.eia.gov/dnav/pet/hist_xls/RWTCd.xls", sheet_name = 'Data 1', skiprows = 2)
data = data.set_index('Date')
data

In [ ]:
OIL = (data - data.shift()) / data.shift() # need SPY dates as control
OIL

In [ ]:
import requests

link = "https://www.usagold.com/daily-gold-price-history/?ddYears=2000"
f = requests.get(link)
print(f.text)

In [ ]:
Gold = pd.read_csv('/Users/jinghuang/Desktop/MAS/high-priority-papers/src/GOLD_2000-2020.csv')
Gold

In [ ]:
#pip install investpy
import investpy

In [ ]:
start_date = "01/01/2000"
end_date = "31/12/2020"

In [ ]:
USD_Y = investpy.get_currency_cross_historical_data(currency_cross='USD/JPY', from_date=start_date, to_date=end_date)
USD_Y.head()

In [ ]:
USD_GBP = investpy.get_currency_cross_historical_data(currency_cross='GBP/USD', from_date=start_date, to_date=end_date)
USD_GBP.head()

In [ ]:
USD_CAD = investpy.get_currency_cross_historical_data(currency_cross='USD/CAD', from_date=start_date, to_date=end_date)
USD_CAD.head()

In [ ]:
USD_CNY = investpy.get_currency_cross_historical_data(currency_cross='USD/CNY', from_date=start_date, to_date=end_date)
USD_CNY.head()