In [583]:
import numpy as np 
import pandas as pd 
import yfinance as yf
from fredapi import Fred
import pandas as pd

In [584]:
start_date="2000-01-01"
end_date="2020-12-31"

df = yf.download("SPY", start=start_date, end=end_date)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,146.843750,147.500000,146.250000,146.875000,97.509407,3172700
2000-01-03,148.250000,148.250000,143.875000,145.437500,96.555077,8164300
2000-01-04,143.531250,144.062500,139.640625,139.750000,92.779205,8089800
2000-01-05,139.937500,141.531250,137.250000,140.000000,92.945137,12177900
2000-01-06,139.625000,141.500000,137.750000,137.750000,91.451431,6227200
...,...,...,...,...,...,...
2020-12-23,368.279999,369.619995,367.220001,367.570007,361.611420,46201400
2020-12-24,368.079987,369.029999,367.450012,369.000000,363.018280,26457900
2020-12-28,371.739990,372.589996,371.070007,372.170013,366.136841,39000400
2020-12-29,373.809998,374.000000,370.829987,371.459991,365.438354,53680500
2020-12-30,372.339996,373.100006,371.570007,371.989990,365.959778,49455300

In [585]:
#Calculate features

#1 Date_SPY

#2 Close_SPY

#3 SPYt
df['SPYt']=df['Adj Close'].pct_change()
# df_SPY['SPYt']=df_SPY['Adj Close'].resample('M').ffill().pct_change()

#4 SPYt1
df['Adj Close_l1'] = df['Adj Close'].shift(1)
df['SPYt1']=df['Adj Close_l1'].pct_change()

#5 SPYt2
df['Adj Close_l2'] = df['Adj Close'].shift(2)
df['SPYt2']=df['Adj Close_l2'].pct_change()

#6 SPYt3
df['Adj Close_l3'] = df['Adj Close'].shift(3)
df['SPYt3']=df['Adj Close_l3'].pct_change()

#7 RDP5
df['Adj Close_l5'] = df['Adj Close'].shift(5)
df['RDP5']=(df['Adj Close']-df['Adj Close_l5'])/df['Adj Close_l5']*100

#8 RDP10
df['Adj Close_l10'] = df['Adj Close'].shift(10)
df['RDP10']=(df['Adj Close']-df['Adj Close_l10'])/df['Adj Close_l10']*100

#9 RDP15
df['Adj Close_l15'] = df['Adj Close'].shift(15)
df['RDP15']=(df['Adj Close']-df['Adj Close_l15'])/df['Adj Close_l15']*100

#10 RDP20
df['Adj Close_l20'] = df['Adj Close'].shift(20)
df['RDP20']=(df['Adj Close']-df['Adj Close_l20'])/df['Adj Close_l20']*100

#11 EMA10
def calculate_ema(prices, days, smoothing=2):
    ema = []
    for num_day in range(days-1):
        ema.append('N/A')        
    ema.append(sum(prices[:days]) / days)
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema
df['EMA10']=calculate_ema(df['Adj Close'], 10)

#12 EMA20
df['EMA20']=calculate_ema(df['Adj Close'], 20)

#13 EMA50
df['EMA50']=calculate_ema(df['Adj Close'], 50)

#14 EMA200
df['EMA200']=calculate_ema(df['Adj Close'], 200)

#15 HSI
df_HSI = yf.download("HSI", start=start_date, end=end_date)
df['HSI']=df_HSI['Adj Close'].pct_change()

#16 SSE*
df_SSE = yf.download("000001.SS", start=start_date, end=end_date)
df['SSE']=df_SSE['Adj Close'].pct_change()

#17 FCHI*
df_FCHI = yf.download("^FCHI", start=start_date, end=end_date)
df['FCHI']=df_FCHI['Adj Close'].pct_change()

#18 FTSE*
df_FTSE = yf.download("^FTSE", start=start_date, end=end_date)
df['FTSE']=df_FTSE['Adj Close'].pct_change()

#19 GDAXI*
df_GDAXI = yf.download("^GDAXI", start=start_date, end=end_date)
df['GDAXI']=df_GDAXI['Adj Close'].pct_change()

#20 DJI
df_DJI = yf.download("DJI", start=start_date, end=end_date)
df['DJI']=df_DJI['Adj Close'].pct_change()

#21 IXIC*
df_IXIC = yf.download("^IXIC", start=start_date, end=end_date)
df['IXIC']=df_IXIC['Adj Close'].pct_change()

#22 V
df['V']=df['Volume'].pct_change()

#23 AAPL
df_AAPL = yf.download("AAPL", start=start_date, end=end_date)
df['AAPL']=df_AAPL['Adj Close'].pct_change()

#24 MSFT
df_MSFT = yf.download("MSFT", start=start_date, end=end_date)
df['MSFT']=df_MSFT['Adj Close'].pct_change()

#25 XOM
df_XOM = yf.download("XOM", start=start_date, end=end_date)
df['XOM']=df_XOM['Adj Close'].pct_change()

#26 GE
df_GE = yf.download("GE", start=start_date, end=end_date)
df['GE']=df_GE['Adj Close'].pct_change()

#27 JNJ
df_JNJ = yf.download("JNJ", start=start_date, end=end_date)
df['JNJ']=df_JNJ['Adj Close'].pct_change()

#28 WFC
df_WFC = yf.download("WFC", start=start_date, end=end_date)
df['WFC']=df_WFC['Adj Close'].pct_change()

#29 AMZN
df_AMZN = yf.download("AMZN", start=start_date, end=end_date)
df['AMZN']=df_AMZN['Adj Close'].pct_change()

#30 JPM
df_JPM = yf.download("JPM", start=start_date, end=end_date)
df['JPM']=df_JPM['Adj Close'].pct_change()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [336]:
#import list of S&P500 company tickers
stocks = pd.read_csv('S&P500 companies list (2000 to 2020).csv')
tickers= stocks['ticker'].values

In [338]:
def download_stock(ticker):
    df_ticker = yf.download(ticker, start=start_date, end=end_date)
    return df_ticker

In [339]:
dic = {}
for t in tickers:
    dic[t] = download_stock(t)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ABD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ABUD: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ABXFF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACAS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACCOB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACSA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ADCO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AESC: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AEXP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AGAS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AGC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AGREA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AIGR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AKS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ALXN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMDV: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMR: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMSGA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ANDW: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ANLG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- APCC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- APOLA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ARG: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ASD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ASHC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AV: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AVP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AWIN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BARL: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BBT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BCMP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BCR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BFO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BGENF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BGG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BJS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BKLY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BLKR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BMET: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BNI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BPR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRCM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BVSN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BXLT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BYA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CAM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CBS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CBSS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CCII: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CDNC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CEFT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CELG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CEPH: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CHK: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CIT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CLCH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CMCSK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CNAG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- COC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- COH: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CPGX: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CRCH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CTB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CUCD: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CVC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CVTY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CXO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DBKT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DJ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DLPH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DNR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DNY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DOLR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DRHI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DTV: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DV: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DWDP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EDS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EGRP: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EMCS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EOP: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ESV: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ETS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FCMB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FDC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FDO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FEMP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FJ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FLIR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FNAC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FNM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FRRI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FRX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FTEN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GART: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GENZ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GMCR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GPU: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GTW: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HCBK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HCFDS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HCR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HMAIA: No data found, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HRS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IACI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IILG: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IMNX: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IVGN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JCP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JEC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JHF: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JOY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KMRT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KNB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KRFT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KSU: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LKQX: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LLSI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LLTC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LOWE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LUK: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LVLT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LXK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MCCRK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MCRN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MDP: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MDR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MDTR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MEA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MERQ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MFS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MGNE: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MHS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MILI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MJN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MOHK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MOT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MPTR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MRIS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MRKT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MWD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MWV: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MXIM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MYL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- N: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NBL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NCO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NDCO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NFB: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NIKE: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NOVL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NU: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NXTL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OAT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OCF: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ODEP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OKEN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCCW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCLN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PE: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PSVB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PTRAS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QEP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QLGC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QTRN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QWST: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RAI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RBK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RDC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RDR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RESM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RFMD: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RHAT: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RLM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ROPR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SAI: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SAPE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SEBL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SGAT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SGIC: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SIAL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SLMA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SMBL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SNDK: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SOAL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPK: Data doesn't exist for startDate = 946656000, endDate = 1609344000
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPLS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STI: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STJ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SUNE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SWY: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SXCL: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SZA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TFCF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TIF: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TMK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TOSC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TSG: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TSS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TWC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TXU: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TYC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UARM: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UAUA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UBO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UNIH: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UNIP: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UNPH: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UPCM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- USW: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UTX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VAR: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VIAB: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VRDX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VSM: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VTSS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WAMU: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WATS: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WFMI: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WFT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WIN: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WINEA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLA: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLTW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WMTT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WPO: No data found for this date range, symbol may be delisted

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WPX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WTHG: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WYE: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WYND: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XEC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XLNX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XON: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XTO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- YHOO: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- YNR: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ZY: Data doesn't exist for startDate = 946656000, endDate = 1609344000

In [340]:
def Close(df):
    return df.drop(['Open','High','Low','Adj Close','Volume'],axis=1)

#3 SPYt
def SPYt(df):
    df['SPYt']=df['Close'].pct_change()
    return df

#4 SPYt1
def SPYt1(df):
    df['Close_l1'] = df['Close'].shift(1)
    df['SPYt1']=df['Close_l1'].pct_change()
    return df.drop(['Close_l1'],axis=1)

#5 SPYt2
def SPYt2(df):
    df['Close_l2'] = df['Close'].shift(2)
    df['SPYt2']=df['Close_l2'].pct_change()
    return df.drop(['Close_l2'],axis=1)

#6 SPYt3
def SPYt3(df):
    df['Close_l3'] = df['Close'].shift(3)
    df['SPYt3']=df['Close_l3'].pct_change()
    return df.drop(['Close_l3'],axis=1)

#7 RDP5
def RDP5(df):
    df['Close_l5'] = df['Close'].shift(5)
    df['RDP5']=(df['Close']-df['Close_l5'])/df['Close_l5']*100
    return df.drop(['Close_l5'],axis=1)

#8 RDP10
def RDP10(df):
    df['Close_l10'] = df['Close'].shift(10)
    df['RDP10']=(df['Close']-df['Close_l10'])/df['Close_l10']*100
    return df.drop(['Close_l10'],axis=1)

#9 RDP15
def RDP15(df):
    df['Close_l15'] = df['Close'].shift(15)
    df['RDP15']=(df['Close']-df['Close_l15'])/df['Close_l15']*100
    return df.drop(['Close_l15'],axis=1)

#10 RDP20
def RDP20(df):
    df['Close_l20'] = df['Close'].shift(20)
    df['RDP20']=(df['Close']-df['Close_l20'])/df['Close_l20']*100
    return df.drop(['Close_l20'],axis=1)

#11 EMA10
def calculate_ema(prices, days, smoothing=2):
    ema = []
    for num_day in range(days-1):
        ema.append(0)        
    ema.append(sum(prices[:days]) / days)
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema
def EMA10(df):
    df['EMA10']=calculate_ema(df['Close'], 10)
    return df

#12 EMA20
def EMA20(df):
    df['EMA20']=calculate_ema(df['Close'], 20)
    return df

#13 EMA50
def EMA50(df):
    df['EMA50']=calculate_ema(df['Close'], 50)
    return df

#14 EMA200
def EMA200(df):
    df['EMA200']=calculate_ema(df['Close'], 200)
    return df

In [341]:
def cal_export(df):
    df = Close(df)
    df = SPYt(df)
    df = SPYt1(df)
    df = SPYt2(df)
    df = SPYt3(df)
    df = RDP5(df)
    df = RDP10(df)
    df = RDP15(df)
    df = RDP20(df)
    df = EMA10(df)
    df = EMA20(df)
    df = EMA50(df)
    df = EMA200(df)
    return df

In [344]:
#calculate features and export as csv file
for k,v in dic.items():
    if v.shape[0] == 5284:
        cal_export(v).to_csv(k+'.csv')

In [350]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'SPYt',
       'Adj Close_l1', 'SPYt1', 'Adj Close_l2', 'SPYt2', 'Adj Close_l3',
       'SPYt3', 'Adj Close_l5', 'RDP5', 'Adj Close_l10', 'RDP10',
       'Adj Close_l15', 'RDP15', 'Adj Close_l20', 'RDP20', 'EMA10', 'EMA20',
       'EMA50', 'EMA200', 'HSI', 'SSE', 'FCHI', 'FTSE', 'GDAXI', 'DJI', 'IXIC',
       'V', 'AAPL', 'MSFT', 'XOM', 'GE', 'JNJ', 'WFC', 'AMZN', 'JPM'],
      dtype='object')

In [356]:
df[['Close','SPYt', 'SPYt1', 'SPYt2', 'SPYt3', 'RDP5', 'RDP10', 'RDP15', 'RDP20','EMA10', 'EMA20','EMA50', 'EMA200' ]]

,Close,SPYt,SPYt1,SPYt2,SPYt3,RDP5,RDP10,RDP15,RDP20,EMA10,EMA20,EMA50,EMA200
Date,,,,,,,,,,,,,
1999-12-31,146.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N/A,N/A,N/A,N/A
2000-01-03,145.437500,-0.009787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N/A,N/A,N/A,N/A
2000-01-04,139.750000,-0.039106,-0.009787,NaN,NaN,NaN,NaN,NaN,NaN,N/A,N/A,N/A,N/A
2000-01-05,140.000000,0.001789,-0.039106,-0.009787,NaN,NaN,NaN,NaN,NaN,N/A,N/A,N/A,N/A
2000-01-06,137.750000,-0.016071,0.001789,-0.039106,-0.009787,NaN,NaN,NaN,NaN,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,367.570007,0.000898,-0.001685,-0.003576,-0.003993,-0.279109,0.623368,0.639828,1.628984,361.322323,358.901581,350.456994,324.154227
2020-12-24,369.000000,0.003890,0.000898,-0.001685,-0.003576,-0.447841,1.047891,1.058914,2.181924,361.630673,359.293645,350.949592,324.540933
2020-12-28,372.170013,0.008591,0.003890,0.000898,-0.001685,0.809903,2.035614,1.056226,2.773519,362.449982,359.945381,351.545172,324.954823
2020-12-29,371.459991,-0.001908,0.008591,0.003890,0.000898,0.978620,2.298964,1.071104,3.033569,362.993317,360.468518,352.090001,325.357644
2020-12-30,371.989990,0.001427,-0.001908,0.008591,0.003890,1.293425,1.078412,0.920029,2.064288,363.532673,360.991495,352.633914,325.761645

In [360]:
df.columns[25:]

Index(['HSI', 'SSE', 'FCHI', 'FTSE', 'GDAXI', 'DJI', 'IXIC', 'V', 'AAPL',
       'MSFT', 'XOM', 'GE', 'JNJ', 'WFC', 'AMZN', 'JPM'],
      dtype='object')

In [345]:
df_copy = df.copy()

In [352]:
df_copy.columns

Index(['HSI', 'SSE', 'FCHI', 'FTSE', 'GDAXI', 'DJI', 'IXIC', 'V', 'AAPL',
       'MSFT', 'XOM', 'GE', 'JNJ', 'WFC', 'AMZN', 'JPM', 'T3', 'T6', 'T60',
       'T120', 'CD1', 'CD3', 'CD6', 'Oil', 'AAA', 'BAA', 'TE2', 'TE3', 'DE1',
       'DE2', 'DE4', 'DE5', 'DE7', 'USD_Y', 'USD_GBP', 'USD_CAD', 'USD_CNY',
       'CTB3M', 'CTB6M', 'CTB1Y', 'CTB5Y', 'CTB10Y', 'TE5', 'TE6', 'DE6', 'T1',
       'TE1', 'Gold'],
      dtype='object')

In [357]:
len(df_copy.join(df[['Close','SPYt', 'SPYt1', 'SPYt2', 'SPYt3', 'RDP5', 'RDP10', 'RDP15', 'RDP20','EMA10', 'EMA20','EMA50', 'EMA200' ]]).columns)

61

In [358]:
df_copy = df_copy.join(df[['Close','SPYt', 'SPYt1', 'SPYt2', 'SPYt3', 'RDP5', 'RDP10', 'RDP15', 'RDP20','EMA10', 'EMA20','EMA50', 
                           'EMA200' ]])

In [359]:
df_copy.to_csv('common_features.csv')

In [343]:
df.columns

Index(['HSI', 'SSE', 'FCHI', 'FTSE', 'GDAXI', 'DJI', 'IXIC', 'V', 'AAPL',
       'MSFT', 'XOM', 'GE', 'JNJ', 'WFC', 'AMZN', 'JPM', 'T3', 'T6', 'T60',
       'T120', 'CD1', 'CD3', 'CD6', 'Oil', 'AAA', 'BAA', 'TE2', 'TE3', 'DE1',
       'DE2', 'DE4', 'DE5', 'DE7', 'USD_Y', 'USD_GBP', 'USD_CAD', 'USD_CNY',
       'CTB3M', 'CTB6M', 'CTB1Y', 'CTB5Y', 'CTB10Y', 'TE5', 'TE6', 'DE6', 'T1',
       'TE1', 'Gold'],
      dtype='object')

In [263]:
df.to_csv('common_features.csv')

In [361]:
# Fred API key: ab766afb0df13dba8492403a7865f852
fred = Fred(api_key='ab766afb0df13dba8492403a7865f852')
T1 = fred.get_series('DTB4WK', observation_start=start_date, observation_end=end_date)
T1.index.name = 'Date'
T1.rename('T1', inplace=True)
T1

Date
2001-07-31    3.61
2001-08-01    3.60
2001-08-02    3.60
2001-08-03    3.58
2001-08-06    3.58
              ...
2020-12-25     NaN
2020-12-28    0.09
2020-12-29    0.08
2020-12-30    0.06
2020-12-31    0.08
Name: T1, Length: 5068, dtype: float64

In [362]:
T3 = fred.get_series('DTB3', observation_start=start_date, observation_end=end_date)
T3.index.name = 'Date'
T3.rename('T3', inplace=True)
T3

Date
2000-01-03    5.27
2000-01-04    5.27
2000-01-05    5.28
2000-01-06    5.25
2000-01-07    5.22
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.10
2020-12-30    0.08
2020-12-31    0.09
Name: T3, Length: 5479, dtype: float64

In [363]:
T6 = fred.get_series('DTB6', observation_start=start_date, observation_end=end_date)
T6.index.name = 'Date'
T6.rename('T6', inplace=True)
T6

Date
2000-01-03    5.55
2000-01-04    5.50
2000-01-05    5.49
2000-01-06    5.44
2000-01-07    5.42
              ...
2020-12-25     NaN
2020-12-28    0.11
2020-12-29    0.12
2020-12-30    0.09
2020-12-31    0.09
Name: T6, Length: 5479, dtype: float64

In [364]:
T60 = fred.get_series('DGS5', observation_start=start_date, observation_end=end_date)
T60.index.name = 'Date'
T60.rename('T60', inplace=True)
T60

Date
2000-01-03    6.50
2000-01-04    6.40
2000-01-05    6.51
2000-01-06    6.46
2000-01-07    6.42
              ...
2020-12-25     NaN
2020-12-28    0.38
2020-12-29    0.37
2020-12-30    0.37
2020-12-31    0.36
Name: T60, Length: 5479, dtype: float64

In [365]:
T120 = fred.get_series('DGS10', observation_start=start_date, observation_end=end_date)
T120.index.name = 'Date'
T120.rename('T120', inplace=True)
T120

Date
2000-01-03    6.58
2000-01-04    6.49
2000-01-05    6.62
2000-01-06    6.57
2000-01-07    6.52
              ...
2020-12-25     NaN
2020-12-28    0.94
2020-12-29    0.94
2020-12-30    0.93
2020-12-31    0.93
Name: T120, Length: 5479, dtype: float64

In [366]:
CD1 = fred.get_series('DCD1M', observation_start=start_date, observation_end=end_date)
CD1.index.name = 'Date'
CD1.rename('CD1', inplace=True)
CD1

Date
2000-01-03    5.70
2000-01-04    5.72
2000-01-05    5.70
2000-01-06    5.70
2000-01-07    5.69
              ...
2013-06-24    0.16
2013-06-25    0.16
2013-06-26    0.16
2013-06-27    0.16
2013-06-28    0.17
Name: CD1, Length: 3520, dtype: float64

In [367]:
CD3 = fred.get_series('DCD90', observation_start=start_date, observation_end=end_date)
CD3.index.name = 'Date'
CD3.rename('CD3', inplace=True)
CD3

Date
2000-01-03    5.89
2000-01-04    5.93
2000-01-05    5.94
2000-01-06    5.94
2000-01-07    5.96
              ...
2013-06-24    0.19
2013-06-25    0.20
2013-06-26    0.20
2013-06-27    0.20
2013-06-28    0.22
Name: CD3, Length: 3520, dtype: float64

In [368]:
CD6 = fred.get_series('DCD6M', observation_start=start_date, observation_end=end_date)
CD6.index.name = 'Date'
CD6.rename('CD6', inplace=True)
CD6

Date
2000-01-03    6.05
2000-01-04    6.14
2000-01-05    6.13
2000-01-06    6.15
2000-01-07    6.17
              ...
2013-06-24    0.26
2013-06-25    0.27
2013-06-26    0.27
2013-06-27    0.27
2013-06-28    0.27
Name: CD6, Length: 3520, dtype: float64

In [369]:
data = pd.read_csv("https://www.federalreserve.gov/datadownload/Output.aspx?rel=H15&series=bf17364827e38702b42a58cf8eaa3f78&lastobs=&from=&to=&filetype=csv&label=include&layout=seriescolumn&type=package")
data = data.iloc[5:,:]
data

,Series Description,"Market yield on U.S. Treasury securities at 1-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 3-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 6-month constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 1-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 2-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 3-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 5-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 7-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 10-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 20-year constant maturity, quoted on investment basis","Market yield on U.S. Treasury securities at 30-year constant maturity, quoted on investment basis"
5,1962-01-02,NaN,NaN,NaN,3.22,NaN,3.70,3.88,NaN,4.06,4.07,NaN
6,1962-01-03,NaN,NaN,NaN,3.24,NaN,3.70,3.87,NaN,4.03,4.07,NaN
7,1962-01-04,NaN,NaN,NaN,3.24,NaN,3.69,3.86,NaN,3.99,4.06,NaN
8,1962-01-05,NaN,NaN,NaN,3.26,NaN,3.71,3.89,NaN,4.02,4.07,NaN
9,1962-01-08,NaN,NaN,NaN,3.31,NaN,3.71,3.91,NaN,4.03,4.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15749,2022-05-09,0.51,0.92,1.43,1.99,2.61,2.81,2.95,3.04,3.05,3.38,3.19
15750,2022-05-10,0.57,0.89,1.44,2.01,2.62,2.81,2.91,2.99,2.99,3.31,3.12
15751,2022-05-11,0.59,0.91,1.43,1.99,2.66,2.81,2.89,2.94,2.91,3.25,3.05
15752,2022-05-12,0.61,0.96,1.44,1.96,2.56,2.73,2.81,2.86,2.84,3.22,3.00
15753,2022-05-13,0.67,1.03,1.47,2.04,2.61,2.79,2.89,2.95,2.93,3.32,3.10

In [370]:
data['Series Description'] = pd.to_datetime(data['Series Description'])

In [371]:
CTB3M = pd.Series(data['Market yield on U.S. Treasury securities at 3-month   constant maturity, quoted on investment basis'])
CTB3M.reset_index(drop=True, inplace=True)
CTB3M.index = data['Series Description'].values
CTB3M = CTB3M.dropna()
CTB3M = CTB3M[CTB3M.values != 'ND'].astype(float)
CTB3M = CTB3M - CTB3M.shift()
CTB3M = CTB3M[(CTB3M.index >= start_date) & (CTB3M.index <= end_date)]
CTB3M.index.name = 'Date'
CTB3M.rename('CTB3M', inplace=True)
CTB3M

Date
2000-01-03    0.15
2000-01-04   -0.05
2000-01-05    0.01
2000-01-06   -0.03
2000-01-07   -0.03
              ...
2020-12-24    0.00
2020-12-28    0.02
2020-12-29   -0.01
2020-12-30   -0.02
2020-12-31    0.01
Name: CTB3M, Length: 5253, dtype: float64

In [372]:
CTB6M = pd.Series(data['Market yield on U.S. Treasury securities at 6-month   constant maturity, quoted on investment basis'])
CTB6M.reset_index(drop=True, inplace=True)
CTB6M.index = data['Series Description'].values
CTB6M = CTB6M.dropna()
CTB6M = CTB6M[CTB6M.values != 'ND'].astype(float)
CTB6M = CTB6M - CTB6M.shift()
CTB6M = CTB6M[(CTB6M.index >= start_date) & (CTB6M.index <= end_date)]
CTB6M.index.name = 'Date'
CTB6M.rename('CTB6M', inplace=True)
CTB6M

Date
2000-01-03    0.07
2000-01-04   -0.06
2000-01-05   -0.01
2000-01-06   -0.05
2000-01-07   -0.03
              ...
2020-12-24    0.00
2020-12-28    0.02
2020-12-29    0.01
2020-12-30   -0.03
2020-12-31    0.00
Name: CTB6M, Length: 5253, dtype: float64

In [373]:
CTB1Y = pd.Series(data['Market yield on U.S. Treasury securities at 1-year   constant maturity, quoted on investment basis'])
CTB1Y.reset_index(drop=True, inplace=True)
CTB1Y.index = data['Series Description'].values
CTB1Y = CTB1Y.dropna()
CTB1Y = CTB1Y[CTB1Y.values != 'ND'].astype(float)
CTB1Y = CTB1Y - CTB1Y.shift()
CTB1Y = CTB1Y[(CTB1Y.index >= start_date) & (CTB1Y.index <= end_date)]
CTB1Y.index.name = 'Date'
CTB1Y.rename('CTB1Y', inplace=True)
CTB1Y

Date
2000-01-03    0.11
2000-01-04   -0.09
2000-01-05    0.05
2000-01-06   -0.02
2000-01-07   -0.03
              ...
2020-12-24    0.01
2020-12-28    0.01
2020-12-29    0.00
2020-12-30    0.01
2020-12-31   -0.02
Name: CTB1Y, Length: 5253, dtype: float64

In [374]:
CTB5Y = pd.Series(data['Market yield on U.S. Treasury securities at 5-year   constant maturity, quoted on investment basis'])
CTB5Y.reset_index(drop=True, inplace=True)
CTB5Y.index = data['Series Description'].values
CTB5Y = CTB5Y.dropna()
CTB5Y = CTB5Y[CTB5Y.values != 'ND'].astype(float)
CTB5Y = CTB5Y - CTB5Y.shift()
CTB5Y = CTB5Y[(CTB5Y.index >= start_date) & (CTB5Y.index <= end_date)]
CTB5Y.index.name = 'Date'
CTB5Y.rename('CTB5Y', inplace=True)
CTB5Y

Date
2000-01-03    0.14
2000-01-04   -0.10
2000-01-05    0.11
2000-01-06   -0.05
2000-01-07   -0.04
              ...
2020-12-24   -0.01
2020-12-28    0.01
2020-12-29   -0.01
2020-12-30    0.00
2020-12-31   -0.01
Name: CTB5Y, Length: 5253, dtype: float64

In [375]:
CTB10Y = pd.Series(data['Market yield on U.S. Treasury securities at 10-year   constant maturity, quoted on investment basis'])
CTB10Y.reset_index(drop=True, inplace=True)
CTB10Y.index = data['Series Description'].values
CTB10Y = CTB10Y.dropna()
CTB10Y = CTB10Y[CTB10Y.values != 'ND'].astype(float)
CTB10Y = CTB10Y - CTB10Y.shift()
CTB10Y = CTB10Y[(CTB10Y.index >= start_date) & (CTB10Y.index <= end_date)]
CTB10Y.index.name = 'Date'
CTB10Y.rename('CTB10Y', inplace=True)
CTB10Y

Date
2000-01-03    0.13
2000-01-04   -0.09
2000-01-05    0.13
2000-01-06   -0.05
2000-01-07   -0.05
              ...
2020-12-24   -0.02
2020-12-28    0.00
2020-12-29    0.00
2020-12-30   -0.01
2020-12-31    0.00
Name: CTB10Y, Length: 5253, dtype: float64

In [376]:
AAA = fred.get_series('DAAA', observation_start=start_date, observation_end=end_date)
AAA.index.name = 'Date'
AAA.rename('AAA', inplace=True)
AAA

Date
2000-01-03    7.75
2000-01-04    7.69
2000-01-05    7.78
2000-01-06    7.72
2000-01-07    7.69
              ...
2020-12-25     NaN
2020-12-28    2.25
2020-12-29    2.25
2020-12-30    2.22
2020-12-31    2.23
Name: AAA, Length: 5479, dtype: float64

In [377]:
BAA = fred.get_series('DBAA', observation_start=start_date, observation_end=end_date)
BAA.index.name = 'Date'
BAA.rename('BAA', inplace=True)
BAA

Date
2000-01-03    8.27
2000-01-04    8.21
2000-01-05    8.29
2000-01-06    8.24
2000-01-07    8.22
              ...
2020-12-25     NaN
2020-12-28    3.16
2020-12-29    3.16
2020-12-30    3.13
2020-12-31    3.11
Name: BAA, Length: 5479, dtype: float64

In [379]:
def generate_feature(f1, f2):
    '''
    compare and choose latest start date and earliest end date
    '''
    start_date = max(f1.index[0], f2.index[0])
    end_date = min(f1.index[-1], f2.index[-1])
    feature = f1[(f1.index >= start_date) & (f1.index <= end_date)] \
        - f2[(f2.index >= start_date) & (f2.index <= end_date)]
    return feature

In [380]:
TE1 = T120 - T1
TE1.index.name = 'Date'
TE1.rename('TE1', inplace=True)
TE1

Date
2000-01-03     NaN
2000-01-04     NaN
2000-01-05     NaN
2000-01-06     NaN
2000-01-07     NaN
              ...
2020-12-25     NaN
2020-12-28    0.85
2020-12-29    0.86
2020-12-30    0.87
2020-12-31    0.85
Name: TE1, Length: 5479, dtype: float64

In [381]:
#TE2 = generate_feature(T120, T3)
TE2 = T120 - T3
TE2.index.name = 'Date'
TE2.rename('TE2', inplace=True)
TE2

Date
2000-01-03    1.31
2000-01-04    1.22
2000-01-05    1.34
2000-01-06    1.32
2000-01-07    1.30
              ...
2020-12-25     NaN
2020-12-28    0.83
2020-12-29    0.84
2020-12-30    0.85
2020-12-31    0.84
Name: TE2, Length: 5479, dtype: float64

In [382]:
#TE3 = generate_feature(T120, T6)
TE3 = T120 - T6
TE3.index.name = 'Date'
TE3.rename('TE3', inplace=True)
TE3

Date
2000-01-03    1.03
2000-01-04    0.99
2000-01-05    1.13
2000-01-06    1.13
2000-01-07    1.10
              ...
2020-12-25     NaN
2020-12-28    0.83
2020-12-29    0.82
2020-12-30    0.84
2020-12-31    0.84
Name: TE3, Length: 5479, dtype: float64

In [383]:
#TE5 = generate_feature(T3, T1)
TE5 = T3 - T1
TE5.index.name = 'Date'
TE5.rename('TE5', inplace=True)
TE5

Date
2000-01-03     NaN
2000-01-04     NaN
2000-01-05     NaN
2000-01-06     NaN
2000-01-07     NaN
              ...
2020-12-25     NaN
2020-12-28    0.02
2020-12-29    0.02
2020-12-30    0.02
2020-12-31    0.01
Name: TE5, Length: 5479, dtype: float64

In [384]:
#TE6 = generate_feature(T6, T1)
TE = T6 - T1
TE6.index.name = 'Date'
TE6.rename('TE6', inplace=True)
TE6

Date
2001-07-31   -0.25
2001-08-01   -0.24
2001-08-02   -0.24
2001-08-03   -0.21
2001-08-06   -0.22
              ...
2020-12-25     NaN
2020-12-28    0.02
2020-12-29    0.04
2020-12-30    0.03
2020-12-31    0.01
Name: TE6, Length: 5068, dtype: float64

In [385]:
#DE1 = generate_feature(BAA, AAA)
DE1 = BAA - AAA
DE1.index.name = 'Date'
DE1.rename('DE1', inplace=True)
DE1

Date
2000-01-03    0.52
2000-01-04    0.52
2000-01-05    0.51
2000-01-06    0.52
2000-01-07    0.53
              ...
2020-12-25     NaN
2020-12-28    0.91
2020-12-29    0.91
2020-12-30    0.91
2020-12-31    0.88
Name: DE1, Length: 5479, dtype: float64

In [386]:
#DE2 = generate_feature(BAA, T120)
DE2 = BAA - T120
DE2.index.name = 'Date'
DE2.rename('DE2', inplace=True)
DE2

Date
2000-01-03    1.69
2000-01-04    1.72
2000-01-05    1.67
2000-01-06    1.67
2000-01-07    1.70
              ...
2020-12-25     NaN
2020-12-28    2.22
2020-12-29    2.22
2020-12-30    2.20
2020-12-31    2.18
Name: DE2, Length: 5479, dtype: float64

In [387]:
#DE4 = generate_feature(BAA, T6)
DE4 = BAA - T6
DE4.index.name = 'Date'
DE4.rename('DE4', inplace=True)
DE4

Date
2000-01-03    2.72
2000-01-04    2.71
2000-01-05    2.80
2000-01-06    2.80
2000-01-07    2.80
              ...
2020-12-25     NaN
2020-12-28    3.05
2020-12-29    3.04
2020-12-30    3.04
2020-12-31    3.02
Name: DE4, Length: 5479, dtype: float64

In [388]:
#DE5 = generate_feature(BAA, T3)
DE5 = BAA - T3
DE5.index.name = 'Date'
DE5.rename('DE5', inplace=True)
DE5

Date
2000-01-03    3.00
2000-01-04    2.94
2000-01-05    3.01
2000-01-06    2.99
2000-01-07    3.00
              ...
2020-12-25     NaN
2020-12-28    3.05
2020-12-29    3.06
2020-12-30    3.05
2020-12-31    3.02
Name: DE5, Length: 5479, dtype: float64

In [389]:
#DE6 = generate_feature(BAA, T1)
DE6 = BAA - T1
DE6.index.name = 'Date'
DE6.rename('DE6', inplace=True)
DE6

Date
2000-01-03     NaN
2000-01-04     NaN
2000-01-05     NaN
2000-01-06     NaN
2000-01-07     NaN
              ...
2020-12-25     NaN
2020-12-28    3.07
2020-12-29    3.08
2020-12-30    3.07
2020-12-31    3.03
Name: DE6, Length: 5479, dtype: float64

In [390]:
#DE7 = generate_feature(CD6, T6)
DE7 = CD6 - T6
DE7.index.name = 'Date'
DE7.rename('DE7', inplace=True)
DE7

Date
2000-01-03    0.50
2000-01-04    0.64
2000-01-05    0.64
2000-01-06    0.71
2000-01-07    0.75
              ...
2020-12-25     NaN
2020-12-28     NaN
2020-12-29     NaN
2020-12-30     NaN
2020-12-31     NaN
Name: DE7, Length: 5479, dtype: float64

In [391]:
data = pd.read_excel("https://www.eia.gov/dnav/pet/hist_xls/RWTCd.xls", sheet_name = 'Data 1', skiprows = 2)
data = data.set_index('Date')
#data[(data.index >= start_date) & (data.index <=end_date)]

In [392]:
data

            Cushing, OK WTI Spot Price FOB (Dollars per Barrel)
Date
1986-01-02                                              25.56
1986-01-03                                              26.00
1986-01-06                                              26.53
1986-01-07                                              25.85
1986-01-08                                              25.87
...                                                       ...
2022-05-03                                             102.53
2022-05-04                                             107.84
2022-05-05                                             108.17
2022-05-06                                             109.72
2022-05-09                                             103.08

[9160 rows x 1 columns]

In [393]:
Oil = (data - data.shift()) / data.shift() # need SPY dates as control
Oil = Oil[(Oil.index >= start_date) & (Oil.index <=end_date)]
Oil.rename(columns={'Cushing, OK WTI Spot Price FOB (Dollars per Barrel)' : 'Oil'}, inplace=True)
#OIL.rename('Relative Change', inplace=True)
Oil

                 Oil
Date
2000-01-04 -0.007764
2000-01-05 -0.035603
2000-01-06  0.005680
2000-01-07  0.000000
2000-01-10 -0.003227
...              ...
2020-12-24  0.005006
2020-12-28 -0.014114
2020-12-29  0.007368
2020-12-30  0.008150
2020-12-31  0.002280

[5271 rows x 1 columns]

In [34]:
import requests

link = "https://www.usagold.com/daily-gold-price-history/?ddYears=2000"
f = requests.get(link)
print(f.text)

<HTML>
<HEAD>
<TITLE>403 Forbidden</TITLE>
</HEAD>
<BODY>
<H1>Forbidden</H1>
You do not have permission to access this document.
<P>
<HR>
<ADDRESS>
Web Server at usagold.com
</ADDRESS>
</BODY>
</HTML>

<!--
   - Unfortunately, Microsoft has added a clever new
   - "feature" to Internet Explorer. If the text of
   - an error's message is "too small", specifically
   - less than 512 bytes, Internet Explorer returns
   - its own error message. You can turn that off,
   - but it's pretty tricky to find switch called
   - "smart error messages". That means, of course,
   - that short error messages are censored by default.
   - IIS always returns error messages that are long
   - enough to make Internet Explorer happy. The
   - workaround is pretty simple: pad the error
   - message with a big comment like this to push it
   - over the five hundred and twelve bytes minimum.
   - Of course, that's exactly what you're reading
   - right now.
   -->

In [395]:
Gold = pd.read_csv('Gold.csv')
Gold = Gold.iloc[::-1][['Date', 'Change %']]
Gold.set_index('Date', inplace=True)
Gold.rename(columns={'Change %': 'Gold'}, inplace=True)
Gold.index = pd.to_datetime(Gold.index)
#Gold = Gold.set_index('Date')
Gold

              Gold
Date
2000-01-03   0.26%
2000-01-04  -2.27%
2000-01-05  -0.51%
2000-01-06   0.08%
2000-01-07   0.18%
...            ...
2020-12-25  -0.04%
2020-12-28  -0.25%
2020-12-29   0.36%
2020-12-30   0.82%
2020-12-31   0.16%

[5468 rows x 1 columns]

In [398]:
Gold = Gold['Gold'].apply(lambda row: float(row.strip('%'))/100 )

In [399]:
Gold

Date
2000-01-03    0.0026
2000-01-04   -0.0227
2000-01-05   -0.0051
2000-01-06    0.0008
2000-01-07    0.0018
               ...
2020-12-25   -0.0004
2020-12-28   -0.0025
2020-12-29    0.0036
2020-12-30    0.0082
2020-12-31    0.0016
Name: Gold, Length: 5468, dtype: float64

In [532]:
#pip install investpy
import investpy

In [535]:
start_date = "30/12/1999"
end_date = "31/12/2020"

In [536]:
USD_Y = investpy.get_currency_cross_historical_data(currency_cross='USD/JPY', from_date=start_date, to_date=end_date)
USD_Y = USD_Y['Close']
USD_Y.rename('USD_Y', inplace=True)
USD_Y.head()

Date
1999-12-30    102.42
1999-12-31    102.26
2000-01-03    101.59
2000-01-04    103.27
2000-01-05    104.29
Name: USD_Y, dtype: float64

In [537]:
USD_GBP = investpy.get_currency_cross_historical_data(currency_cross='GBP/USD', from_date=start_date, to_date=end_date)
USD_GBP = USD_GBP['Close']
USD_GBP.rename('USD_GBP', inplace=True)
USD_GBP.head()

Date
1999-12-30    1.6157
1999-12-31    1.6181
2000-01-03    1.6370
2000-01-04    1.6370
2000-01-05    1.6420
Name: USD_GBP, dtype: float64

In [538]:
USD_CAD = investpy.get_currency_cross_historical_data(currency_cross='USD/CAD', from_date=start_date, to_date=end_date)
USD_CAD = USD_CAD['Close']
USD_CAD.rename('USD_CAD', inplace=True)
USD_CAD.head()

Date
1999-12-30    1.4535
1999-12-31    1.4460
2000-01-03    1.4466
2000-01-04    1.4520
2000-01-05    1.4495
Name: USD_CAD, dtype: float64

In [539]:
USD_CNY = investpy.get_currency_cross_historical_data(currency_cross='USD/CNY', from_date=start_date, to_date=end_date)
USD_CNY = USD_CNY['Close']
USD_CNY.rename('USD_CNY', inplace=True)
USD_CNY.head()

Date
1999-12-30    8.2795
1999-12-31    8.2795
2000-01-03    8.2798
2000-01-04    8.2799
2000-01-05    8.2798
Name: USD_CNY, dtype: float64

In [540]:
Gold = investpy.get_currency_cross_historical_data(currency_cross='XAU/USD', from_date=start_date, to_date=end_date)
Gold['Gold'] = (Gold['Close'] - Gold['Close'].shift()) / Gold['Close'].shift()
Gold

               Open     High      Low    Close Currency      Gold
Date
1999-12-30   291.10   288.30   288.30   288.30      USD       NaN
1999-12-31   288.50   288.25   288.25   288.25      USD -0.000173
2000-01-03   288.50   289.00   289.00   289.00      USD  0.002602
2000-01-04   288.75   282.45   282.45   282.45      USD -0.022664
2000-01-05   281.50   281.00   281.00   281.00      USD -0.005134
...             ...      ...      ...      ...      ...       ...
2020-12-25  1877.07  1877.07  1877.07  1875.82      USD -0.000394
2020-12-28  1885.93  1900.53  1869.21  1871.19      USD -0.002468
2020-12-29  1872.24  1886.91  1870.99  1877.99      USD  0.003634
2020-12-30  1878.34  1894.06  1875.66  1893.37      USD  0.008190
2020-12-31  1893.55  1901.26  1884.77  1896.49      USD  0.001648

[5470 rows x 6 columns]

In [544]:
Gold = Gold['Gold']

In [545]:
Gold

Date
1999-12-30         NaN
1999-12-31   -0.000173
2000-01-03    0.002602
2000-01-04   -0.022664
2000-01-05   -0.005134
                ...
2020-12-25   -0.000394
2020-12-28   -0.002468
2020-12-29    0.003634
2020-12-30    0.008190
2020-12-31    0.001648
Name: Gold, Length: 5470, dtype: float64

In [586]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'SPYt',
       'Adj Close_l1', 'SPYt1', 'Adj Close_l2', 'SPYt2', 'Adj Close_l3',
       'SPYt3', 'Adj Close_l5', 'RDP5', 'Adj Close_l10', 'RDP10',
       'Adj Close_l15', 'RDP15', 'Adj Close_l20', 'RDP20', 'EMA10', 'EMA20',
       'EMA50', 'EMA200', 'HSI', 'SSE', 'FCHI', 'FTSE', 'GDAXI', 'DJI', 'IXIC',
       'V', 'AAPL', 'MSFT', 'XOM', 'GE', 'JNJ', 'WFC', 'AMZN', 'JPM'],
      dtype='object')

In [587]:
df = df[['Close','SPYt', 'SPYt1', 'SPYt2', 'SPYt3', 'RDP5', 'RDP10', 'RDP15', 'RDP20','EMA10', 'EMA20','EMA50', 
                           'EMA200', 'HSI', 'SSE', 'FCHI', 'FTSE', 'GDAXI', 'DJI', 'IXIC',
       'V', 'AAPL', 'MSFT', 'XOM', 'GE', 'JNJ', 'WFC', 'AMZN', 'JPM']]

In [588]:
df

,Close,SPYt,SPYt1,SPYt2,SPYt3,RDP5,RDP10,RDP15,RDP20,EMA10,...,IXIC,V,AAPL,MSFT,XOM,GE,JNJ,WFC,AMZN,JPM
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,146.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N/A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,145.437500,-0.009787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N/A,...,0.015197,1.573297,0.088754,-0.001606,-0.027929,-0.030695,-0.011394,-0.032457,0.174056,-0.061947
2000-01-04,139.750000,-0.039106,-0.009787,NaN,NaN,NaN,NaN,NaN,NaN,N/A,...,-0.055544,-0.009125,-0.084310,-0.033780,-0.019155,-0.040000,-0.036610,-0.049521,-0.083217,-0.021941
2000-01-05,140.000000,0.001788,-0.039106,-0.009787,NaN,NaN,NaN,NaN,NaN,N/A,...,-0.006190,0.505340,0.014633,0.010543,0.054517,-0.001736,0.010556,-0.010084,-0.148741,-0.006173
2000-01-06,137.750000,-0.016071,0.001788,-0.039106,-0.009787,NaN,NaN,NaN,NaN,N/A,...,-0.038790,-0.488647,-0.086538,-0.033498,0.051697,0.013370,0.031337,0.044143,-0.060036,0.014197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,367.570007,0.000899,-0.001685,-0.003575,-0.003993,-0.279118,0.623359,0.639819,1.628975,361.322323,...,-0.002874,-0.036447,-0.006976,-0.013039,0.012852,0.023563,-0.005107,0.047997,-0.006627,0.027945
2020-12-24,369.000000,0.003891,0.000899,-0.001685,-0.003575,-0.447832,1.047891,1.058922,2.181906,361.630678,...,0.002633,-0.427336,0.007712,0.007827,-0.004070,-0.019337,0.003488,-0.016804,-0.003949,-0.004398
2020-12-28,372.170013,0.008591,0.003891,0.000899,-0.001685,0.809903,2.035606,1.056209,2.773502,362.449981,...,0.007395,0.474055,0.035766,0.009921,0.003365,-0.000939,0.004722,0.003016,0.035071,0.006585
2020-12-29,371.459991,-0.001908,0.008591,0.003891,0.000899,0.978629,2.298964,1.071129,3.033578,362.993321,...,-0.003814,0.376409,-0.013315,-0.003601,-0.011260,-0.007519,0.006202,-0.005012,0.011584,-0.002633
2020-12-30,371.989990,0.001427,-0.001908,0.008591,0.003891,1.293433,1.078404,0.920021,2.064288,363.532677,...,0.001539,-0.078710,-0.008527,-0.011019,0.007996,0.014205,0.012391,-0.001007,-0.010882,0.002800

In [589]:
df = df.join(T1)

In [590]:
df = df.join(T3)

In [591]:
df = df.join(T6)

In [592]:
df = df.join(T60)

In [593]:
df = df.join(T120)

In [594]:
df = df.join(CD1)

In [595]:
df = df.join(CD3)

In [596]:
df = df.join(CD6)

In [597]:
df = df.join(Oil)

In [598]:
df = df.join(Gold)

In [599]:
df = df.join(CTB3M)

In [600]:
df = df.join(CTB6M)

In [601]:
df = df.join(CTB1Y)

In [602]:
df = df.join(CTB5Y)

In [603]:
df = df.join(CTB10Y)

In [604]:
df = df.join(AAA)

In [605]:
df = df.join(BAA)

In [606]:
df = df.join(TE1)

In [607]:
df = df.join(TE2)

In [608]:
df = df.join(TE3)

In [609]:
df = df.join(TE5)

In [610]:
df = df.join(TE6)

In [611]:
df = df.join(DE1)

In [612]:
df = df.join(DE2)

In [613]:
df = df.join(DE4)

In [614]:
df = df.join(DE5)

In [615]:
df = df.join(DE6)

In [616]:
df = df.join(DE7)

In [617]:
df = df.join(USD_Y)

In [618]:
df = df.join(USD_GBP)

In [619]:
df = df.join(USD_CAD)

In [620]:
df = df.join(USD_CNY)

In [621]:
df.columns

Index(['Close', 'SPYt', 'SPYt1', 'SPYt2', 'SPYt3', 'RDP5', 'RDP10', 'RDP15',
       'RDP20', 'EMA10', 'EMA20', 'EMA50', 'EMA200', 'HSI', 'SSE', 'FCHI',
       'FTSE', 'GDAXI', 'DJI', 'IXIC', 'V', 'AAPL', 'MSFT', 'XOM', 'GE', 'JNJ',
       'WFC', 'AMZN', 'JPM', 'T1', 'T3', 'T6', 'T60', 'T120', 'CD1', 'CD3',
       'CD6', 'Oil', 'Gold', 'CTB3M', 'CTB6M', 'CTB1Y', 'CTB5Y', 'CTB10Y',
       'AAA', 'BAA', 'TE1', 'TE2', 'TE3', 'TE5', 'TE6', 'DE1', 'DE2', 'DE4',
       'DE5', 'DE6', 'DE7', 'USD_Y', 'USD_GBP', 'USD_CAD', 'USD_CNY'],
      dtype='object')

In [622]:
df=df.iloc[1:,:]

In [623]:
df.to_csv('common_features.csv')

In [624]:
len(df.columns)

61